[2016-07-18 16:58] Alamei opened #1 "Floating Target Health Bar Cutoff"
It appears that the UI element for the floating version of target health bars is slightly too small for its contents, causing the numbers to be clipped off on the right edge. You can see a basic example here:
[FlawHUD - Floating Health Bar Cutoff](http://i.imgur.com/4VJVJbM.jpg)

[2016-07-21 02:25] CriticalFlaw commented on #1
It's been fixed and will be included in the next update [http://puu.sh/q8Q6V/5a4e55e764.jpg](url)

[2016-07-21 13:10] Alamei commented on #1
Excellent; thanks for the quick patch.

[2016-07-21 13:10] #1 closed

[2016-07-29 15:24] Alamei opened #2 "MvM Wave Icons/Progress Bar Overlap"
There's a minor bug in the MvM HUD resources causing the icons listing the bots in the active wave to overlap partially with the wave progress bar:
[FlawHUD - MvM Wave Icon/Progress Bar Overlap](http://i.imgur.com/v0R9Ogz.jpg)

[2016-07-31 23:42] CriticalFlaw commented on #2
It's fixed now, thanks for reporting it!

[2016-08-01 14:35] #2 closed

[2016-09-24 14:29] 23SRLITheGamer opened #3 "Cursor Problem"
When the match ends, at the scoreboard part, my cursor is invisible the only way to see my cursor and bring it back is by pressing esc (doesn't work all the time). Can someone help me?

[2016-09-24 15:02] 23SRLITheGamer commented on #3
![20160924224609_1](https://cloud.githubusercontent.com/assets/16334980/18809321/e483f640-82aa-11e6-8a3e-cc0495182b16.jpg)

[2016-09-29 00:35] CriticalFlaw commented on #3
This should be fixed in the latest update (v2016.09.28)

[2016-09-29 00:35] #3 closed

[2016-10-22 18:38] Viniuau opened #4 "Missing Texture: Pit of Death"
![20161022153148_1](https://cloud.githubusercontent.com/assets/19510529/19621682/88213df8-986d-11e6-9500-549528762b06.jpg)

[2016-10-26 13:14] CriticalFlaw commented on #4
There was an update on the 25th of October that supposedly fixed a missing material issue on that map, could you verify?

[2017-05-02 12:10] Sigiliph opened #9 "File Conflict with GameBanana?"
I tried to install a few skins from gamebanana - I put them all in the custom folder, and then launched the game. The HUD wasn't working. So, I tried taking them all out - everything is in it's normal state - and the HUD still doesn't work. I then tried using different paths for a few hours and now I'm screwed. HUD is still default and ugly.

[2017-05-02 22:32] CriticalFlaw commented on #9
Best practice is to segregate each mod into its' own folder, unless it's a .vpk which can be located in the root of the custom folder. What I would recommend is, clear everything out of the custom folder, then install FlawHUD as normal. Then install each skin at a time, making sure each is in it's own folder, again unless it's a .vpk file.

If you're still having issues, let me know which skins yo

[2017-06-07 03:59] #9 closed, assigned to nobody

[2017-10-27 15:24] Rattlewrench opened #16 "Icons not displaying on Linux/macOS"
Some icons aren't being rendered correctly (at least under Linux distros). I'd take a wild guess that some font is missing, but I'm not sure.

1) Dropdown arrows
![](https://i.imgur.com/8UDfk36.png)
2) Also dropdown arrows
![](https://i.imgur.com/VrANWQ6.png)
3) Close icon, scrollbar arrows and resize corner
![](https://i.imgur.com/YDhFENv.png)
4) Check marks in the Play menu
![](https://i.imgur.c

[2017-10-27 20:30] CriticalFlaw opened #17 "Arena Mode win panel not displaying"
Posted on the Steam Group, the win panel for the Arena Mode is not displaying properly

[2017-10-30 15:20] #17 closed, assigned to CriticalFlaw

[2017-10-30 15:29] CriticalFlaw commented on #16
It must be an issue with Linux not rendering a font correctly, which font it is I can't say because for example in the first screenshot, the button to open the drop down list does not have a font associated with it in the code:

![image](https://user-images.githubusercontent.com/6818236/32179345-8fa08868-bd65-11e7-8b4a-1a1f1e627e9e.png)

I'll continue looking into it, but if anyone who has experie

[2017-10-31 14:18] CriticalFlaw opened #18 "Hotfix Shopping List"
## Fixed in November 2017 Update https://github.com/CriticalFlaw/flawhud/pull/19
- [X] Killstreak Icon on the TargetID is not positioned properly
- [x] Engineer Buildings Status is misaligned when being sapped
- [X] On the Inventory screen, the Crafting label font is not Code Pro Bold
- [X] Score font on the match summary screen is not Code Pro Bold
- [X] In freezecam the killer's health value fon

[2018-03-05 20:02] #18 closed, assigned to CriticalFlaw

[2018-03-11 20:38] pasimko opened #21 "Respawn timer not displaying on Linux?"
![2018-03-10-161449_1920x1080_scrot](https://user-images.githubusercontent.com/20600978/37258205-6586ebba-2531-11e8-9d1a-41ffa6806ac3.png)

[2018-03-13 11:55] CriticalFlaw commented on #21
It's on the top right corner of your screenshot

[2018-03-25 17:36] #21 closed, assigned to nobody

[2018-04-10 00:30] AndoniLarz opened #23 "Damage colors always defaulting to red."
Hi !

I downloaded the last version from the late march update, and I found that my damage number is now displayed in red. Before that update, it was yellow.
Is it some hud related stuff or a basic tf2 setting stuff ?
I'd like to get it back to yellow, tried to look in the hud's files and found the ```G_Hit``` value was used but didn't want to mess with the dependencies so I prefered to ask here.

[2018-04-10 01:46] CriticalFlaw commented on #23
Damage colors are now being controlled by cvars and cannot be preset in the hud. You'll either have to set the color you want in the Advanced Options and add the following to your autoexec

hud_combattext_red ###
hud_combattext_green ###
hud_combattext_yellow ###

Where ### is your RGB color value

[2018-04-14 18:35] #23 closed, assigned to nobody

[2018-04-19 16:23] AndoniLarz commented on #23
Great, thank you !

[2018-06-12 19:46] CriticalFlaw opened #25 "Add a Report Bug Button"

[2018-07-04 13:21] CriticalFlaw opened #26 "Close Button Icon is missing"

[2018-07-04 13:22] CriticalFlaw opened #27 "Arena Mode Graphics Overlap"
https://imgur.com/a/UDwRitb

[2018-07-05 13:25] CriticalFlaw opened #28 "Update files to use #base"
- [X] Build PDA (https://github.com/CriticalFlaw/flawhud/pull/37/commits/0f811fab470b087de78a2cd25a95607562370262)
- [X] Destroy PDA (https://github.com/CriticalFlaw/flawhud/pull/37/commits/0f811fab470b087de78a2cd25a95607562370262)
- [X] Disguise Menu (https://github.com/CriticalFlaw/flawhud/pull/37/commits/0f811fab470b087de78a2cd25a95607562370262)
- [X] Item Effect Meters (https://github.com/Crit

[2018-07-05 13:27] CriticalFlaw opened #29 "Fix the Vaccinator UI"
- [x] Fix the regular uber percentage being visible behind the resistance icon
- [x] Improve the look of the individual charge meters

[2018-07-05 13:29] CriticalFlaw opened #30 "Update the Disguise Panel"
- [x] Add a shaded background so that player name and weapon are more visible.
- [x] Fix the size and positioning of the health GUI, so to not leave pixel gaps

[2018-07-05 13:31] CriticalFlaw opened #31 "Update the Main Menu"
- [x] Remove the Create a Server button
- [x] Add the Report a Bug button (#25)
- [x] Add TF2 character images
- [x] Improve the positioning of the Friends panel
- [x] Fix inconsistencies with bottom row button code
- [x] Fix the positioning of the competitive MMR label

[2018-07-05 13:35] CriticalFlaw opened #32 "Miscellaneous Changes"
- [x] Remove unused code for the max health value
- [x] Raise the in-game chat panel
- [x] Fix inconsistencies with the player status effects
- [x] Update the source scheme to use a custom font
- [x] Remove unused and add missing hud animations
- [x] Add high quality images to item views that are missing them

[2018-07-05 13:37] CriticalFlaw opened #33 "Player Stats on the Loading Screen"
Suggested on the Steam Group forums, however whether it will actually be added is yet to be determined.

[2018-07-05 17:27] CriticalFlaw opened #34 "New Background Wallpaper"

[2018-07-06 13:13] CriticalFlaw opened #35 "Server Time Limit not displaying"

[2018-07-06 13:14] CriticalFlaw opened #36 "Matchmaking rank not displaying properly"

[2018-07-06 13:20] CriticalFlaw commented on #25
Completed in https://github.com/CriticalFlaw/flawhud/pull/37/commits/8c942da3f642d674e6697c9b4cdf1112e3db16fc

[2018-07-06 13:20] #25 closed, assigned to CriticalFlaw

[2018-07-06 13:20] CriticalFlaw commented on #26
Completed in https://github.com/CriticalFlaw/flawhud/pull/37/commits/ca89225a0c49ac385d3f0e027d492177e91db605

[2018-07-06 13:20] #26 closed, assigned to CriticalFlaw

[2018-07-06 13:21] CriticalFlaw commented on #27
Completed in https://github.com/CriticalFlaw/flawhud/pull/37/commits/9a6c54966edf04030448a6779850727318f0978d

[2018-07-06 13:21] #27 closed, assigned to CriticalFlaw

[2018-07-06 13:22] CriticalFlaw commented on #28
Completed in https://github.com/CriticalFlaw/flawhud/pull/37/commits/0f811fab470b087de78a2cd25a95607562370262 and https://github.com/CriticalFlaw/flawhud/pull/37/commits/33e8a1651f7f8f9c430a16bb79608c395f3fff18

[2018-07-06 13:22] #28 closed, assigned to CriticalFlaw

[2018-07-06 13:22] CriticalFlaw commented on #29
Completed in https://github.com/CriticalFlaw/flawhud/pull/37/commits/44383d8c6017961b97e7467f2daa6c5c3c71f7e3

[2018-07-06 13:22] #29 closed, assigned to CriticalFlaw

[2018-07-06 13:23] CriticalFlaw commented on #30
Completed in https://github.com/CriticalFlaw/flawhud/pull/37/commits/7b63a978eaa3ff3e2725fdbcd60810a32c832368

[2018-07-06 13:23] #30 closed, assigned to CriticalFlaw

[2018-07-06 13:23] CriticalFlaw commented on #31
Completed in https://github.com/CriticalFlaw/flawhud/pull/37/commits/8c942da3f642d674e6697c9b4cdf1112e3db16fc

[2018-07-06 13:23] #31 closed, assigned to CriticalFlaw

[2018-07-06 13:23] CriticalFlaw commented on #34
Completed in https://github.com/CriticalFlaw/flawhud/pull/37/commits/0b45c6031ba13170852636fe2185a5e65f31bbe5

[2018-07-06 13:23] #34 closed, assigned to CriticalFlaw

[2018-07-06 13:24] CriticalFlaw commented on #36
Completed in https://github.com/CriticalFlaw/flawhud/pull/37/commits/bc2daf5066e1efe8a87c02a1aab408a3cb0252a7

[2018-07-06 13:24] #36 closed, assigned to CriticalFlaw

[2018-07-06 13:24] CriticalFlaw commented on #35
Completed in https://github.com/CriticalFlaw/flawhud/pull/37/commits/29b21c6acf6aed0f76059b238d0d3f66a528af13

[2018-07-06 13:24] #35 closed, assigned to CriticalFlaw

[2018-07-06 13:24] CriticalFlaw commented on #32
Completed in https://github.com/CriticalFlaw/flawhud/pull/37/commits/b46a823e0c77a2f77a351bc1bad18cde59b3d5aa and https://github.com/CriticalFlaw/flawhud/pull/37/commits/02c8d80fc89eefc3c651c8e934a37f73f8dbd8db

[2018-07-06 13:24] #32 closed, assigned to CriticalFlaw

[2018-07-12 13:21] CriticalFlaw commented on #33
Scrapping this request, because stats can just be viewed from the _Inventory_ page and having them on the loading screen for a few seconds does not justify the space it takes up

[2018-07-12 13:21] #33 closed, assigned to CriticalFlaw

[2018-11-07 11:01] h9lk opened #38 "Intersecting HUS elements (part 1)"
As you can see, here the status bar money blocked improvements Power Up Canteen info
![20181103231902_1](https://user-images.githubusercontent.com/32390006/48127824-b6391980-e295-11e8-9f58-be5bda5bace3.jpg)

And this, here spell and cart, cart behind and spell cast on it - if there is any spell in this mode, then it all intersects what looks like weird
![20181104181803_1](https://user-images.githu

[2018-11-08 15:12] CriticalFlaw commented on #38
What resolution are you on?

[2018-11-08 16:43] h9lk commented on #38
4:3 1024x768

[2018-11-09 03:01] CriticalFlaw commented on #38
It's been fixed in https://github.com/CriticalFlaw/flawhud/commit/a167a7126c1c1c0b24264c1d91850e9b94dafa9b

Download the latest version on here

[2018-11-09 03:01] #38 closed, assigned to CriticalFlaw

[2018-11-09 11:44] h9lk commented on #38
Very grateful for your feedback and for so fast fix my problem, i love your hud and your work on it. Thank you very much  :star:

[2018-11-14 11:05] h9lk opened #39 "Intersecting HUS elements (part 2)"
Today i found another hud elements that intersects
![20181109201923_1](https://user-images.githubusercontent.com/32390006/48478185-99ac5c80-e814-11e8-985c-784e25422dc6.jpg)

And something uncomfortable on medic in mvm for me
![20181111191558_1](https://user-images.githubusercontent.com/32390006/48478321-058ec500-e815-11e8-8d58-a47e630c36e9.jpg)
Don't know how to others, but this line of shield on

[2018-11-14 14:08] CriticalFlaw commented on #39
Oh right those, I've had to fixed but forgot then lost the changes lol

I won't be able to get those fixed until this weekend, but it should be done by then. Thanks for reporting it!

[2018-11-18 16:08] CriticalFlaw commented on #39
Fixed. Thank you for reporting this.

[2018-12-08 18:13] Phraqzy commented on #16
Still have this problem

[2018-12-08 18:54] CriticalFlaw commented on #16
I don't have access to a Linux machine, so somebody else would need to try and fix it

[2018-12-08 19:54] Phraqzy commented on #16
I could help you but I don't have any knowledge about editing the files

[2018-12-20 13:52] CriticalFlaw opened #40 "Main Menu Bugs"

[2018-12-28 20:43] Cryanthos commented on #40
![1](https://user-images.githubusercontent.com/46229328/50527558-049cb480-0a9e-11e9-96cd-f3d287d3718c.png)

The image is cut off

![2](https://user-images.githubusercontent.com/46229328/50527576-12ead080-0a9e-11e9-912e-3e867d3dd01c.png)

The dark background does not stretch to fill the entire screen.

![3](https://user-images.githubusercontent.com/46229328/50527594-2433dd00-0a9e-11e9-9b37-b185a7b1

[2018-12-30 04:27] CriticalFlaw commented on #40
The Warning and Exit screens are borked even in the default HUD if I recall correctly. It's something that Valve broke when they've released Jungle Inferno.

The shading not covering the full screen is hard-coded unfortunately. So it can be edited to fill the screen

[2019-01-03 19:15] Kuromu commented on #40
I'm not sure if this is some strange in-game bug i'm experiencing too, but the bar for the Soda Popper *does not appear at all* for me, i'm using the version from december 23rd from huds.tf

[2019-02-16 17:33] CriticalFlaw commented on #16
This has been fixed and will be included in the next update

[2019-02-19 03:35] CriticalFlaw commented on #16
The fix has been added in https://github.com/CriticalFlaw/flawhud/commit/d5e10bf20a50467d3df8084ff176efffd9dbcd8d Please download the latest version from the master branch and retest. If it's fixed on your end then please close the the ticket.

[2019-02-19 17:59] Rattlewrench commented on #16
Yep, seems to be completely fixed. Nice job!

[2019-02-19 17:59] #16 closed, assigned to CriticalFlaw

[2019-02-28 14:02] #40 closed, assigned to CriticalFlaw

[2019-02-28 14:03] CriticalFlaw opened #41 "Re-implement minimal weapon meters"
Minimized UI when the option is enabled.

[2019-02-28 14:05] CriticalFlaw opened #42 "Clovervidia's Closed Captions"
Implement [clovervidia's](https://steamcommunity.com/id/clovervidia) updated closed captions. The files can be found on [GitHub](https://github.com/clovervidia/clovervidias-captions) with the accompanying [Steam Guide](https://steamcommunity.com/sharedfiles/filedetails/?id=167785751) explaining the technical stuff.

[2019-02-28 14:07] CriticalFlaw opened #43 "Renaming Font Entries"
Change the client scheme font names like CodeProBold, CodeLC and LightGravity to generic names like FontBold and FontRegular, so that when the default fonts are used - editing the fonts used makes more sense.

[2019-03-11 14:29] CriticalFlaw commented on #43
Added in https://github.com/CriticalFlaw/flawhud/pull/44

[2019-03-11 14:29] #43 closed, assigned to CriticalFlaw

[2019-03-11 14:30] CriticalFlaw commented on #42
Added in https://github.com/CriticalFlaw/flawhud/pull/44

[2019-03-11 14:30] #42 closed, assigned to CriticalFlaw

[2019-03-16 17:23] CriticalFlaw commented on #41
Added in: https://github.com/CriticalFlaw/flawhud/commit/0018339f0baaa2da5d465946a92eaf5d1e6d0ec5

[2019-03-18 13:02] #41 closed, assigned to CriticalFlaw

[2019-06-20 18:01] CriticalFlaw opened #46 "Add the Coaching Button"
- Add the Coaching button on the bottom row alongside the other buttons
- Moved the Steam Workshop button to be in the list with Inventory and the Mann Co. Store
- Reduce the size of the friends list to make space for the Steam Workshop button
- Hide the Favorite Server button, it currently points to the itemtest page and isn't being used

[2019-06-20 18:08] CriticalFlaw opened #47 "Add the Streamer Mode"
- Requested by Marvonon and Floodwing
- Minimized and centered the scoreboard
- Updated the Win Panel, Killfeed, Disguise, Inspection, Spectator panels to hide player names
- Separate branch for this mode can be found here: https://github.com/CriticalFlaw/flawhud/tree/stream

[2019-06-20 19:30] #47 closed, assigned to CriticalFlaw

[2019-06-21 12:05] CriticalFlaw commented on #46
Added in https://github.com/CriticalFlaw/flawhud/commit/14b82cda74e85eb6d3485780cdbae6dd0c2289fe

[2019-06-21 12:05] #46 closed, assigned to CriticalFlaw

[2019-08-17 17:38] Tiagoquix opened #54 "Favorite Server Button?"
https://github.com/CriticalFlaw/FlawHUD/blob/master/resource/gamemenu.res

I don't see a "FavoriteServer" category.

[2019-08-17 17:57] CriticalFlaw commented on #54
It has been removed. Might be added back later

[2019-08-17 18:50] #54 closed, assigned to nobody

[2019-10-12 18:02] ghost opened #59 "Game Mode Selection UI's shadow does not cover the entire menu"
![main_menu_game_mode_selection](https://user-images.githubusercontent.com/27376783/66705716-98d4c100-ed2a-11e9-9625-bd1ed3505537.png)

[2019-10-12 19:06] CriticalFlaw commented on #59
Hello. This is an issue present in all custom huds, because Valve hard-coded the height of the shadow. It unfortunately cannot be fixed unless you mess with your configurations

[2019-10-12 19:09] CriticalFlaw commented on #59
I can point you in the right direction if that's something you want to look into but otherwise it sadly may not be worth the effort

[2019-10-12 19:14] ghost commented on #59
Hi! I see. Unfortunately, I am not into the whole custom HUD's thing; I cannot do more than apply a workaround to my configuration. Thank you for your input and time to reply to this issue, though~

Edit: If I understand this correctly, it is not a Linux-specific issue?

[2019-10-13 01:11] CriticalFlaw commented on #59
Yes, it's not Linux specific. This is seen on every operating system.

[2019-10-13 01:11] #59 closed, assigned to nobody

[2019-11-26 18:57] Douile opened #60 "Death freeze cam health sometimes doesn't fill"
Occasionally in the death freezecam (`resource/ui/freezepanelkillerhealth.res` : `PlayerStatusHealthValueFreezePanel`) the value `%Health%` is not replaced with the other players health and instead remains as `%Health%`.

OS: Windows
TF2: 5508706
FlawHUD: 2019.1123

[2019-11-26 20:31] CriticalFlaw commented on #60
I definitely notice it at least one per match (not round), usually on the first death. This is a common bug with custom HUDs but I would like to see if it's something that has started occurring more frequently as of late and if it's something that can be fixed.

[2019-11-29 01:26] Douile commented on #60
Ah ok, if it happens in other HUDs it's probably a TF2 issue and not a HUD issue.
I also noticed it happening with teammate health markers and the username on the same death panel. It seems to happen more during lag, happens for me a few times each round.

[2019-12-03 02:47] Tiagoquix commented on #60
Use hud_reloadscheme in your first spawn after opening the game to avoid this issue.

[2019-12-04 21:01] Douile opened #62 "Failed to load resource/UI/HudItemEffectMeter_Action.res"
Error when loading HUD
[code]

[2019-12-04 21:44] CriticalFlaw commented on #60
This should be kept closed because it cannot be fixed. `hud_reloadscheme` in console is a workaround.

[2019-12-04 21:44] #60 closed, assigned to CriticalFlaw

[2019-12-04 21:45] CriticalFlaw commented on #62
This is a game issue where the `HudItemEffectMeter_Action` is still being referenced by the game code even though it's unused and does not exist in the files. I would close this because it's a Valve issue and it has no impact on the game.

[2019-12-05 01:51] #62 closed, assigned to nobody

[2019-12-06 18:53] Douile commented on #60
@CriticalFlaw fair enough, but do you know if there's a way this can be run as part of the HUD? I tried in valve.rc but that runs at startup so doesn't help.

[2019-12-06 19:21] CriticalFlaw commented on #60
`hud_reloadscheme` is used to refresh the HUD if anything hasn't loaded or there is some visual bug. It's not a command you can apply once on startup, you would call it if when you're experiencing an issues.

[2019-12-08 00:51] Douile commented on #60
Oh ok thanks for the info

[2019-12-08 14:14] h9lk commented on #39
Hello CriticalFlaw, didn't want to create new issue, I’ll write better here - comeback from 2018 :sweat:
![20191208161028_1](https://user-images.githubusercontent.com/32390006/70390655-1db42200-19de-11ea-9910-fd8f212aa96f.jpg)

[2019-12-08 14:32] CriticalFlaw commented on #39
Thank you for reporting this. It was an oversight from the recent changes to the TargetID.
I've corrected the issue and pushed out the fix to GitHub.
![20191208092559_1](https://user-images.githubusercontent.com/6818236/70390916-84651b80-199d-11ea-800a-5eb9a436e61a.jpg)

[2019-12-08 14:32] #39 closed, assigned to CriticalFlaw

[2020-01-03 23:40] h9lk opened #65 "Unfriendly hud for mvm"
For some reason realized that this hud very strange in relation to mvm. Aready used a lot
![20200102231327_1](https://user-images.githubusercontent.com/32390006/71755041-f1cf7380-2e99-11ea-858b-dc22b89955bc.jpg)

sometimes notice elements by accident
![20200103165801_1](https://user-images.githubusercontent.com/32390006/71755220-a8335880-2e9a-11ea-9fc3-d35f1008da18.jpg)

I respect you as developer

[2020-01-05 16:36] CriticalFlaw commented on #65
Could you post the entirety of the second screenshot so I can determine how to replicate that visual bug? Thanks.

[2020-01-05 17:43] h9lk commented on #65
![20200105204308_1](https://user-images.githubusercontent.com/32390006/71783735-13e10700-2ffc-11ea-99a4-fc2de85de682.jpg)

[2020-01-05 19:54] CriticalFlaw commented on #65
Both issues have been fixed. Please download the latest version off GitHub.

Thank you for reporting the issue!

[2020-01-05 19:54] #65 closed, assigned to CriticalFlaw

[2020-01-07 18:17] Tiagoquix opened #66 "valve.rc doesn't work"
It doesn't work as intedeed. Does not remove the menu dimmer. Tested several times.

[2020-01-07 18:18] Tiagoquix commented on #66
Can be a possible conflict with the mastercomfig anti-alias setting (I use mastercomfig).

[2020-01-07 18:28] CriticalFlaw commented on #66
Like you said, the mastercomfig overwrites the `mat_antialias` variable increment that's being done in valve.rc. However, unless it's also not working without mastercomfig then I'd say it's working as intended.

[2020-01-07 18:32] Tiagoquix commented on #66
It works sometimes and it doesn't works sometimes.
I think you should request (or maybe I) a feature from Valve to disable dimmer with a HUD file or a console variable.
I don't care about the main menu dimmer, but the file makes the game take longer to get 100% ready to play.
Thanks for the reply, I'll close this now.

[2020-01-07 18:32] #66 closed, assigned to nobody

[2020-01-31 21:47] Tiagoquix commented on #66
I found the problem. If you run the command hud_reloadscheme on the console, the menu dimmer returns. I always run it once spawning in a match to fix hud issues.
The valve.rc works, but only in the first launch, before joining in a server.

[2020-02-14 21:55] Tiagoquix opened #69 "Localization support for the FlawHUD"
Is there any possibility of adding support for the game translations on the HUD when using the # labels of the localization files?

For example, I'm a brazilian, so, "Steam Workshop" is "Oficina Steam" for me, and in the localization files is:

[code]

So, in `mainmenuoverride.res` we can replace the
[code]
with
[code]
and it will have localization support.

What do you think of this, CriticalFlaw

[2020-02-14 22:52] CriticalFlaw commented on #69
That's a good idea. Some labels are already localized but not others. It'll just be a matter of tracking them all down

[2020-02-14 22:54] Tiagoquix commented on #69
I can do this (find the labels), but if you can tell me all the HUD files that use "labelText", it would help me a lot.

[2020-02-15 15:41] CriticalFlaw commented on #69
An issue I'm encountering while updating labels to use localized strings is that FlawHUD has many strings that use shortcut keys. Such 1-9 for class selection or Q for returning to a previous page. tf_english doesn't have those specific shortcuts and they cannot be combined in the UI files. So we'll end up with a notable number of labels not being translated.

[2020-02-15 16:48] CriticalFlaw commented on #69
Also the space allocated for the text is only accounted for in English. So some translated text will not fit properly, for example in Russian the class names for Scout, Pyro, Demoman and Heavy are often cut off.

[2020-02-15 17:21] Tiagoquix commented on #69
Alright, I did not think about that. But, what do you think for something like "FlawHUD custom files for localization support"? I can provide these in Brazilian Portuguese.

[2020-02-16 16:55] CriticalFlaw commented on #69
Implemented in: https://github.com/CriticalFlaw/FlawHUD/commit/428b3c3935ba2d74ae1f5ee7832b12b3db26adeb

[2020-02-16 16:55] #69 closed, assigned to CriticalFlaw

[2020-02-17 15:24] Tiagoquix opened #71 "Localization strings"
In the main menu, the localization strings are not in uppercase, which you can see in the screenshot below (identities have been hidden).

![image](https://user-images.githubusercontent.com/30274161/74666354-18164d80-5180-11ea-988e-9a9175333b90.png)

The "Options" (Opções) and the "Oficina" (Workshop) are in lowercase. A suggestion of mine to fix this is to move the buttons along with the row of s

[2020-02-17 15:34] CriticalFlaw commented on #71
Better solution is to force the text to be in uppercase. That's been corrected here: https://github.com/CriticalFlaw/FlawHUD/commit/8742ed34b4460571399f8d03a3dd3c9f43d96987

[2020-02-17 15:34] #71 closed, assigned to CriticalFlaw

[2020-02-17 15:34] CriticalFlaw commented on #71
![image](https://user-images.githubusercontent.com/6818236/74667330-15f8c280-5171-11ea-8aa4-a9b554a4dbb6.png)

[2020-02-17 15:47] Tiagoquix commented on #71
I didn't know this was possible! Thank you.

[2020-03-01 16:25] Tiagoquix opened #72 "FlawHUD fonts not displaying Brazilian Portuguese properly"
Hi. I switched to the TF font on the hud, and in my playtesting, I found three problems with it. I am playing with the language Brazilian Portuguese (PT-BR).

1- Party messages on the main menu are hard to read.

2- Sometimes, some letters are cut out from the chat, for example: "oi, eu vi isso" ("hi, I saw that", in Brazilian Portuguese), the letter "o" gets cut out and instead it shows like the

[2020-03-02 21:59] Tiagoquix opened #73 "Medi Gun Ubercharge Meter"
Sometimes it is white, sometimes it is green. Might you do a default? Only green or only white? It would be great.

That's all.

[2020-03-02 22:12] CriticalFlaw opened #74 "Stopwatch Overlap"
Reported by @saturncaine on Twitter. The stopwatch panel overlaps the team status display when enabled.
![image](https://user-images.githubusercontent.com/6818236/75722797-eb4a5600-5ca8-11ea-9786-915a2ac3e839.png)
https://twitter.com/saturncaine/status/1234566995464663040

[2020-03-02 22:16] Tiagoquix commented on #73
If you want to know, I prefer the green meter.

[2020-03-02 22:16] Tiagoquix opened #75 "Missing localizations on the Mann Co. Store"
![image](https://user-images.githubusercontent.com/30274161/75723014-3325a900-5cba-11ea-9a50-85a447055da3.png)

"Exit Store" and "Try It Out" are not localizated in the HUD files.
"Back" is not too.

[2020-03-03 02:11] CriticalFlaw commented on #74
Fixed in https://github.com/CriticalFlaw/FlawHUD/commit/871ffdfec4657061bebb72e9b4b33247ef245b86

[2020-03-03 02:11] #74 closed, assigned to CriticalFlaw

[2020-03-03 02:12] CriticalFlaw commented on #75
Fixed in https://github.com/CriticalFlaw/FlawHUD/commit/871ffdfec4657061bebb72e9b4b33247ef245b86

[2020-03-03 02:12] #75 closed, assigned to CriticalFlaw

[2020-03-03 02:12] CriticalFlaw commented on #73
The color of the medigun has been changed to green while charging https://github.com/CriticalFlaw/FlawHUD/commit/871ffdfec4657061bebb72e9b4b33247ef245b86

[2020-03-03 02:12] #73 closed, assigned to CriticalFlaw

[2020-03-03 02:40] Tiagoquix commented on #73
@CriticalFlaw Thanks for the update! The Ubercharge meter looks so much better now.

[2020-03-03 02:43] Tiagoquix commented on #75
@CriticalFlaw What about "Exit Store"? It is still not localizated.

[2020-03-03 03:21] CriticalFlaw commented on #75
That one uses the Q key as a shortcut, which does not exist in the localization file. I'll look into a workaround later.

[2020-03-03 19:24] CriticalFlaw commented on #72
Unfortunately it's beyond my control how the text is handled by the TF2 fonts. This would be an issue to report on Valve's issue tracker here: https://github.com/ValveSoftware/Source-1-Games/issues

[2020-03-03 21:23] Tiagoquix commented on #72
Sadly, this has not been fixed with the latest HUD update.

This is a minor issue. Sometimes, by just opening the full chat without the console, the message can be fully read.

The problem stills the same.

[2020-03-04 16:08] Tiagoquix opened #78 "Update Clovervidia Captions"
The new version is 2.5.4 and FlawHUD is with the version 2.5.3.
I suggest to put the "clovervidiac" captions in the HUD.

https://github.com/clovervidia/clovervidias-captions

[2020-03-04 16:21] Tiagoquix commented on #34
What file redirects the HUD to use `background_upward_widescreen` instead of `background_upward`?

[2020-03-04 16:22] CriticalFlaw commented on #34
It's in the source code for when using certain resolution.

[2020-03-08 21:14] Tiagoquix commented on #72
I tested the number 5 on the default HUD, and **sometimes** it works fine.

[2020-03-08 21:59] CriticalFlaw commented on #78
What's the difference between the two versions? The captions in FlawHUD are modified and it look a lot of work so unless the changes in version 2.5.4 can justify the effort, I won't be updating them.

[2020-03-08 22:01] CriticalFlaw commented on #72
Regardless these are issues with the way TF2 displays its own fonts, and is not something that can be fixed on my end.

[2020-03-08 22:01] #72 closed, assigned to nobody

[2020-03-08 23:14] Tiagoquix commented on #78
The changelog says:

I do not know if this happens on the FlawHUD's version.

[2020-04-14 15:18] CriticalFlaw commented on #78
I've compared the versions and FlawHUD already has the latest CC changes added. They just haven't updated the version number from v2.5.3 to v2.5.4 in their text files on line 4640. Closing.

![image](https://user-images.githubusercontent.com/6818236/79241823-8e15f880-7e41-11ea-8f27-f1b331d0ded8.png)

[2020-04-14 15:18] #78 closed, assigned to CriticalFlaw

[2020-04-26 19:42] maikdevries opened #82 "[Streamer HUD] Change killfeed to show teams"
At the moment, the killfeed in the streamer version of FlawHUD only shows the weapons and hides the username. Instead, I think it would make a good change to show the team the players are on.

Example: `RED [weapon] BLUE` instead of `playerOne [weapon] playerTwo` which is the case in normal HUDs and in the case of the streamer version just `[weapon]`.

[2020-04-28 18:26] CriticalFlaw commented on #82
After looking into it, turns out that the text you see on the killfeed is generated by the game code and cannot be overwritten. Best you can do is change the font, so this change is looking to be impossible

[2020-04-28 21:18] maikdevries commented on #82
Someone suggested earlier today that you could also change the font to one which only has `■` as their letters. After thinking about it however, people hardly look at the killfeed anyway so no harm done if it doesn't get implemented down the road.

[2020-04-29 07:07] markdwhite opened #84 "[2020.0302] Old health cross not working"
Following the instructions to enable the old health cross:

 https://steamcommunity.com/groups/FlawHUD/announcements/detail/1759123375921304163

Relevant sections of flawhud/resource/ui/hudplayerhealth.res now look like:

    "HealthBG"
	{
		"ControlName"	"EditablePanel"
		"fieldName"		"HealthBG"
		"xpos"			"64"
		"ypos"			"29"
		"zpos"			"1"
		"wide"			"100"
		"tall"			"43"
		"visible"		"0"
		"en

[2020-04-29 12:42] CriticalFlaw commented on #84
The old health cross refers to the health cross used by FlawHUD years ago. It doesn't show up on the targetID but does on the main UI, replacing the box that surrounds the health normally. See screenshot below

![20200429084106_1](https://user-images.githubusercontent.com/6818236/80597013-3ce73680-89f5-11ea-86e0-dd8d9e65f92e.jpg)

[2020-04-29 13:23] markdwhite commented on #84
Ah - I got the wrong end of the stick. Fair enough :-)

[2020-04-29 13:23] #84 closed, assigned to nobody

[2020-05-01 12:31] maikdevries opened #85 "[BUG] KnuckleCrosses wrongly mapped"
Setting `visible`, `enable` to `1` and specifying your preferred crosshair by setting the `labelText` in `flawhud/scripts/hudlayout.res` does not always result in the right crosshair.

As example, set `labelText` to `d` for the following crosshair:
![image](https://user-images.githubusercontent.com/44983425/80805324-06a5e480-8bb8-11ea-9006-2ebf96f73d5a.png)

This results in the following crosshair

[2020-05-01 13:31] CriticalFlaw commented on #85
The actual letter for the crosshair you want is **T**

That's because in `KnuckleCrosses.png` each crosshair's corresponding letter is shown above the crosshair, not below. I know it's confusing, but that's how it's organized in FontForge which is where that image was taken from.

[2020-05-01 16:41] CriticalFlaw commented on #82
Closing as this change cannot be implemented.

[2020-05-01 16:41] #82 closed, assigned to CriticalFlaw

[2020-05-01 17:07] maikdevries commented on #85
I should probably wake up some more next time. Thanks for clarifying.

[2020-05-01 17:07] #85 closed, assigned to nobody

[2020-05-01 17:12] CriticalFlaw commented on #85
All good, it happens :)

[2020-05-05 14:10] h9lk opened #86 "Cannot accept notification"
[notification problem](https://youtu.be/8B0VQSZTnZs)

[2020-05-05 14:17] CriticalFlaw commented on #86
I think this is caused by the zpos of the character model overlapping the notification panel. Will update you once this has been corrected.

[2020-05-05 14:19] CriticalFlaw opened #87 "Update the Payload Tracker"

[2020-05-06 02:57] CriticalFlaw commented on #86
Fixed. Please redownload FlawHUD off GitHub.

[2020-05-06 17:50] CriticalFlaw commented on #87
Added in 75510a3ff2c7fb6e6ea9ccbdb5d7bb843b202f0e

[2020-05-06 17:50] #87 closed, assigned to CriticalFlaw

[2020-05-06 17:50] #86 closed, assigned to CriticalFlaw

[2020-05-14 21:01] RayHammer opened #88 "Update the Lightning Charge Meter"
No changes were made to resource/ui/HudLighningCharge.res and instead it was moved all the way to the left. This makes it hard to keep track of the lightning ammo, so my suggestion is to move the charge meter either to the ammo value or below the crosshairs. Keep in mind that this UI element shares the same box as the Medic's Ubercharge

[2020-05-15 13:49] CriticalFlaw commented on #88
The lightning gun, along with the lunge meter have been updated to match the other meters.

![image](https://user-images.githubusercontent.com/6818236/82057420-4f1dd180-9691-11ea-9c72-7b84672af948.png)

[2020-05-15 13:49] #88 closed, assigned to CriticalFlaw

[2020-05-21 16:13] qwedas opened #89 "Demo player display breaks on 4:3 stretched"
When watching a demo the UI doesn't display red teams player names. I'm using Linux.

![Screenshot from 2020-05-21 12-01-20](https://user-images.githubusercontent.com/32962637/82579312-9c031b80-9b5b-11ea-9edd-91ad9c68eab1.png)
![Screenshot from 2020-05-21 12-06-10](https://user-images.githubusercontent.com/32962637/82579316-9c9bb200-9b5b-11ea-8bf9-85fc94ae9123.png)

[2020-05-29 22:20] maikdevries opened #90 "Name shows up on main menu in streamer mode"
This didn't use to be the case but somewhere along the line it slipped back into the streamer mode of the HUD. The account name now shows up on the main menu again:
![image](https://user-images.githubusercontent.com/44983425/83310090-3a057e80-a20b-11ea-9d5f-5f1e83bcef9b.png)

[2020-05-31 00:33] CriticalFlaw commented on #89
Unfortunately I haven't been able to make the red player list to appear on the right side across all resolutions. As a compromise you can fix the issues yourself by opening `flawhud/resource/ui/spectatortournament.res` and changing the number highlighted in yellow to 141.

![image](https://user-images.githubusercontent.com/6818236/83341733-d3d53600-a2b4-11ea-90db-f38a2509a9d3.png)

[2020-05-31 00:33] #89 closed, assigned to nobody

[2020-06-02 00:27] Tiagoquix opened #91 "Control Point Icon Bug"
The recent updates changed the server browser menu background to be gray instead of black as it was. My opinion is to revert this change, since being gray "conflicts" with the server searching menu on the bottom, since it is the same color. I also prefer black. [Screenshot](https://i.imgur.com/WV4xxFU.jpg).
Also some things are too "big" in the menu with the Brazilian Portuguese language that they

[2020-06-02 14:57] CriticalFlaw commented on #91
I can certainly address the coloring on the server browser (that was an oversight from the previous update) and the middle line on the control points when capped.

The rest like scrollbar and the text size in other languages sadly won't be addressed. The scroll bar is hardcoded and to change the size of text for one language would mean to change it for everyone. It's not an ideal solution as it st

[2020-06-02 23:16] CriticalFlaw commented on #91
Reverted the color change to the source scheme and removed the custom control point icons for when capping. I've figured the custom icons were causing too many issues and it looks fine as is with the defaults.

[2020-06-02 23:16] #91 closed, assigned to CriticalFlaw

[2020-06-02 23:58] Tiagoquix commented on #91
Thank you!

[2020-06-03 00:17] qwedas commented on #89
Thank you for the response. After changing the value of "team2_player_base_offset_x" to 141 There was definitely an improvement.
![Screenshot from 2020-06-02 20-07-16](https://user-images.githubusercontent.com/32962637/83581786-c797e580-a50d-11ea-946f-315426ac628b.png)

I played around with the number and 162 seems to be the right value.
![Screenshot from 2020-06-02 20-14-33](https://user-images.g

[2020-06-03 16:24] Tiagoquix opened #92 "Broken Tournament Spectator mode"
[Screenshot](https://i.imgur.com/8TIUKnl.jpg). This is not supposed to happen. All players (including RED players) were listed as BLU players ([screenshot proof](https://i.imgur.com/lYpjk2K.jpg)), and also the gamemode was Arena. The Tournament Spectator mode should only be activated when spectating a competitive match (like a 6v6 match for example).

[2020-06-03 17:39] CriticalFlaw commented on #92
Normally the game would recognize that the player has switched teams and move their player panel to the side (this can be seen when viewing a demo of a competitive match), but since this is a custom game mode with it's own logic for changing a player's team it breaks the tournament spectator UI. Therefore this issue won't be fixed, especially since there's nothing I can do on my side to account fo

[2020-06-03 17:39] #92 closed, assigned to nobody

[2020-06-07 19:10] CriticalFlaw commented on #90
Done.

[2020-06-07 19:10] #90 closed, assigned to CriticalFlaw

[2020-06-09 06:56] tetra8 opened #93 "Phlog Mmmph Meter Missing When Used With Gas Passer"
When using the phlogistinator and the gas passer, only the gas passer's recharge meter can be seen.

[2020-06-09 16:53] CriticalFlaw commented on #93
I'm not seeing the same problem on my end. Are you using the latest version?

![20200609125249_1](https://user-images.githubusercontent.com/6818236/84176952-2a2e3b80-aa50-11ea-8c01-fda5a7c51148.jpg)

[2020-06-10 09:35] tetra8 commented on #93
Hmm, I was using the latest version (got it from huds.tf). Using the latest version from github and verifying my game files also didn't change anything. This is what I see:

![download](https://user-images.githubusercontent.com/42025133/84252137-c9326080-ab40-11ea-89e1-785ce9de6b7b.jpg)

[2020-06-10 12:07] CriticalFlaw commented on #93
Oh I forgot. If you have minmode enabled (in advanced options) a different style for item meters is used. Turning that off will go to the style that doesn't have this issue but i'll get it fixed in the next version

[2020-06-12 06:41] tetra8 commented on #93
Oh alright. Thanks then :)

[2020-06-13 03:13] CriticalFlaw commented on #93
Fixed. Please download the latest version from GitHub.

[2020-06-13 03:13] #93 closed, assigned to CriticalFlaw

[2020-06-16 23:39] ghost opened #94 "How to change net_graph width?"
Is there a way where I can change the width? Lerp value sometimes get overlapped. On 1024x768 resolution.
![image](https://user-images.githubusercontent.com/34733116/84838624-beb81100-afef-11ea-88e5-1a60212d87ab.png)

Also huntsman charge meter not aligned lol
![image](https://user-images.githubusercontent.com/34733116/84839099-0be8b280-aff1-11ea-9a8d-b86d664de686.png)

[2020-06-22 10:21] h9lk opened #95 "Payload Race and Medic Spectating Bugs"
In payload race can't see when red team cap pl, number of "cap" people isn't visible

![20200621223121_1](https://user-images.githubusercontent.com/32390006/85276617-c9a8f080-b48a-11ea-8e16-5aad5010a41c.jpg)

when u start spectate on medic - his nickname just blocks name of patient

![20200621170838_1](https://user-images.githubusercontent.com/32390006/85276766-0248ca00-b48b-11ea-92b4-77c6c8fed806

[2020-07-04 03:11] CriticalFlaw commented on #95
Fixed in the latest version (v2020.0704) available on GitHub.

[2020-07-04 03:11] #95 closed, assigned to CriticalFlaw

[2020-07-04 16:36] lieutenantnightly opened #96 ""Self Aware Beauty Mark" Preview bug"
When using the Self Aware Beauty Mark, the preview for it breaks in your backpack loadout screen and preview ingame. - https://imgur.com/a/6FFKnE8

[2020-07-04 18:09] CriticalFlaw commented on #96
This a game bug and cannot be fixed through the HUD.

[2020-07-04 18:09] #96 closed, assigned to nobody

[2020-07-06 20:34] lieutenantnightly commented on #96
alrighty!

[2020-07-17 11:38] h9lk commented on #95
@CriticalFlaw  think it's 4:3 1024x768 problem?

![20200717132504_1](https://user-images.githubusercontent.com/32390006/87782407-16d67300-c83b-11ea-9429-44430c30b538.jpg)

![20200717140634_1](https://user-images.githubusercontent.com/32390006/87782475-37063200-c83b-11ea-9e98-e13d839353e6.jpg)

[2020-07-20 23:37] CriticalFlaw opened #97 "Consolidate Icons"
Icons are split between VTF and Font files, but should really be consolidated to just one form for efficiency.

[2020-07-20 23:42] CriticalFlaw commented on #94
Not sure about making it wider, but you can try using the following cvars and see if it helps move the net_graph to fix the overlap.

- `net_graphproportionalfont "1"`
- `net_graphpos "2"`

[2020-07-21 04:24] ghost opened #98 "Server Time Limit is not seen when match HUD is enabled."
Repurposing this closed issue for a new one that just been brought up. The server time limit has been removed when match HUD is enabled due to lack of space, but some kind of alternative will need to be found.

[2020-07-22 21:17] ghost commented on #94
Did not work unfortunately

[2020-07-24 10:19] h9lk opened #99 "Still Medic Spectating problems & Level end result"
still the patient's nickname, superimposed on the medic's nickname, can't understand % heal and etc

![20200717132504_1](https://user-images.githubusercontent.com/32390006/87782407-16d67300-c83b-11ea-9429-44430c30b538.jpg)

level display is strange, left numbers are smaller, right numbers are larger,
icon blocks level and looks ugly in general

![20200717140634_1](https://user-images.githubusercon

[2020-07-24 19:08] CriticalFlaw commented on #94
Unfortunately I don't think there is a way to make it wider. You'd have to play around with the font definitions in `resource/sourchscheme.res`

[2020-07-24 19:08] #94 closed, assigned to nobody

[2020-07-24 19:09] #97 closed, assigned to CriticalFlaw

[2020-07-24 19:10] CriticalFlaw commented on #99
Just pushed an update moving the spectator TargetID even higher and also fixing the badge and font sizes on the post game match. Please verify.

[2020-07-24 21:37] h9lk commented on #99
@CriticalFlaw  nothing has changed in end results of game

![20200725002605_1](https://user-images.githubusercontent.com/32390006/88437259-c77ddd00-ce0e-11ea-849c-4a57a5d77bcd.jpg)

heal on medic until now seems good

![20200725003333_1](https://user-images.githubusercontent.com/32390006/88437318-e54b4200-ce0e-11ea-9b82-9e44ba031d63.jpg)

after update - loading in middle began to appear more often

[2020-07-24 22:45] CriticalFlaw commented on #99
The badge is definitely smaller and the current xp label is the same size if you compare with your first image. I'm not sure what controls the rank label, but I'll look into it later because I'm still tier 1 and can't see the extended label.

The loading panel appearing in the middle is not caused by the latest update, it's done rarely by the game when you connect to a different server while alrea

[2020-07-25 07:52] h9lk commented on #99
sorry i didn't see, for me it would probably be more convenient

![88437259-c77ddd00-ce0e-11ea-849c-4a57a5d77bcd](https://user-images.githubusercontent.com/32390006/88452183-41d94c00-ce65-11ea-9ec8-42a10604b235.jpg)

[2020-07-26 14:55] CriticalFlaw commented on #99
Updated to closer match what you had in mind, sorry forgot to take a screenshot

[2020-07-26 16:34] h9lk commented on #99
yey, thx took some screenshots
![20200726190207_1](https://user-images.githubusercontent.com/32390006/88484341-a2a47980-cf76-11ea-9e56-0eaf6376e1df.jpg)

and something new

double countdown?
![20200726190343_1](https://user-images.githubusercontent.com/32390006/88484353-b18b2c00-cf76-11ea-94b2-61925005d896.jpg)

hud cut nickname and score players in minmode
![20200726191246_1](https://user-images.

[2020-07-26 18:27] CriticalFlaw commented on #99
Double countdown is a game bug, the scoreboard was truncated because in higher resolutions the player list goes out of bounds - so because majority of users are on higher resolutions it'll remain as it is.

The TargetIDs will be left as is as well because this is more of an edge case, and majority of the time when you're in game and being healed while looking at someone else the TargetIDs will be

[2020-07-26 18:51] h9lk commented on #99
sometime TargetDs be like :o

![20200726213300_1](https://user-images.githubusercontent.com/32390006/88486963-2156e200-cf8a-11ea-966b-8e878b850c80.jpg)

![20200726213550_1](https://user-images.githubusercontent.com/32390006/88486966-23b93c00-cf8a-11ea-9893-e1f8a881ee14.jpg)

[2020-07-26 19:08] CriticalFlaw commented on #99
It's a delicate balance, moving any of them too much farther away may overlap with some other element we're not currently thinking of :P Anyway, I think the main issues are now fixed so I'm closing the ticket.

[2020-07-26 19:08] #99 closed, assigned to CriticalFlaw

[2020-08-08 18:41] Scoutman01 opened #101 "Health cross cut off"
the health cross option doesn't display properly
![20200808203815_1](https://user-images.githubusercontent.com/50184129/89717496-71d13500-d9b7-11ea-8aee-c361f321f8b2.jpg)

[2020-08-08 18:57] Scoutman01 commented on #101
also i don't have the bg for the spectatorguihealth did you disable it ?
![20200808205629_1](https://user-images.githubusercontent.com/50184129/89717758-c07fce80-d9b9-11ea-9851-5e5a9359caa9.jpg)

[2020-08-08 19:12] CriticalFlaw commented on #101
Yes, I've changed it to color the health value itself because in other places it got cutoff and looked very odd. I'll correct the health cross in the first screenshot later tonight. Thank you for reporting it

[2020-08-09 01:41] CriticalFlaw commented on #101
Fixed. Please redownload FlawHUD through the installer or on GitHub (not huds.tf). Thank you for reporting it.

[2020-08-09 01:41] #101 closed, assigned to CriticalFlaw

[2020-08-10 13:00] h9lk opened #103 "Payload Tracker not displaying properly"
new vision of capture progress in pl inspires me, try hud_reloadscheme - does not work

![20200810143352_1](https://user-images.githubusercontent.com/32390006/89785120-8c73ed00-db22-11ea-8bab-168da3e3742c.jpg)

![20200810141744_1](https://user-images.githubusercontent.com/32390006/89785127-8e3db080-db22-11ea-8487-1185fe856ab0.jpg)

![20200810140936_1](https://user-images.githubusercontent.com/3239

[2020-08-10 13:36] CriticalFlaw commented on #103
Does this happen every time or only sometimes? Also which operating system are you on?

[2020-08-10 16:10] h9lk commented on #103
think this problem in sound cache, just cleaned tf2 and after prevention it happened, but it also happens by itself sometimes, windows 8.1 pro

[2020-08-10 16:33] CriticalFlaw commented on #103
Can you zip and upload the copy of flawhud that you have so that I can take a closer look? I think there might be an issue in `resource/ui/preload.res` or where the image files for the cart are which would be `materials/hud` and `materials\vgui\replay\thumbnails\cart_icons`

[2020-08-11 07:19] h9lk commented on #103
yes of course, thats my [zip](https://yadi.sk/d/YW6f4wdmvhaD7Q) , no problem

[2020-08-13 13:55] CriticalFlaw commented on #103
hmm no difference between this and the live version. This happens sometimes and you always play in a 4:3 resolution, right?

[2020-08-13 21:18] h9lk commented on #103
right, it's still strange that sometimes points disappear in cp or class bar at the top, most often crap with point happens in attack/defense mode, for example

![20200812154737_1](https://user-images.githubusercontent.com/32390006/90188169-a718c100-ddc3-11ea-909b-df1ce1abe867.jpg)

when u w8t

![изображение](https://user-images.githubusercontent.com/32390006/90330940-7b5f2c00-dfb9-11ea-8dee-084af

[2020-08-17 15:20] CriticalFlaw opened #104 "Streamer Mode (via Min-Mode)"
Merge the https://github.com/CriticalFlaw/FlawHUD/tree/stream branch into the master branch as a minmode option.

[2020-08-24 02:12] qwedas opened #105 "Server Time is misplaced"
Before it would be right below the round time.
This is 4:3 1024x768 stretched to 16:9 1920x1080

![Screenshot from 2020-08-23 21-44-54](https://user-images.githubusercontent.com/32962637/90996293-52780180-e58c-11ea-9429-9ac47d0c6aa4.png)

The HUD version I was using previously was on  https://github.com/CriticalFlaw/FlawHUD/commit/955a4998dc19f9f27be109f9b3b0812aab46fe78 which didn't exhibit the s

[2020-08-24 02:31] CriticalFlaw commented on #105
Fixed. I intended to remove the server time when using the match HUD because 1. it can be viewed on the scoreboard and 2. it creates too much empty space between it and the match status (setup, overtime etc.) so it's only visible when the match hud is disabled.

[2020-08-24 02:31] #105 closed, assigned to CriticalFlaw

[2020-08-24 16:32] Scoutman01 opened #106 "Demoman Charges Overlapping"
the shield charge meter overlap with the loose cannon charge meter

[2020-08-24 16:41] CriticalFlaw commented on #106
Done. Please download the latest version off GitHub.

[2020-08-24 16:41] #106 closed, assigned to CriticalFlaw

[2020-08-24 18:12] Scoutman01 opened #107 "Sniper Charges Overlapping"
jarate charge meter overlap with huntsman charge meter

[2020-08-24 18:23] CriticalFlaw commented on #107
Fixed. Thanks.

[2020-08-24 18:23] #107 closed, assigned to CriticalFlaw

[2020-08-27 19:20] qwedas commented on #105
Is there anyway for me to bring it back? I play a ton of competitive 6vs6 and the server timer is useful for counting ubercharges as medic. Having to press tab to check the server time is a bit inconvenient.

[2020-08-28 03:27] PazerOP opened #108 "Pazer wants to give more $$$ but doesn't know where (add .github/FUNDING.yml)"
what am i gonna do with all these $1 bills, i gotta get rid of them

https://docs.github.com/en/github/administering-a-repository/displaying-a-sponsor-button-in-your-repository

[2020-08-28 13:09] CriticalFlaw commented on #108
Done. Now please give me more money 🤑 💰

[2020-08-28 13:09] #108 closed, assigned to nobody

[2020-08-28 14:00] #98 closed, assigned to CriticalFlaw

[2020-08-28 17:46] Scoutman01 opened #109 "Multiple player status effects get cut off"
When you have 3 differents status the second one is cut in half and the third one can't be seen

![20200828193500_1](https://user-images.githubusercontent.com/50184129/91599833-321ebd00-e967-11ea-8a3d-a99d2f9184be.jpg)

[2020-08-29 10:20] h9lk opened #110 "incorrect respawn counter"
still didn't understand how it should be displayed correctly

![20200829130725_1](https://user-images.githubusercontent.com/32390006/91634632-65f6f280-e9fa-11ea-8aa5-f25ad00b0cf2.jpg)

![20200812154737_1](https://user-images.githubusercontent.com/32390006/91634634-67281f80-e9fa-11ea-948b-551250d73813.jpg)

[2020-08-29 15:31] CriticalFlaw commented on #110
Yeah, I don't think this is a bug nor what is the intended respawn timer for those player panels. So I'd just leave it as is

[2020-08-29 20:09] #110 closed, assigned to nobody

[2020-08-30 20:39] h9lk opened #111 "Shadow misplacement on the match summary screen"
![20200830233513_1](https://user-images.githubusercontent.com/32390006/91668971-c92b7680-eb19-11ea-9844-7f5d85ed1118.jpg)

![20200831121232_1](https://user-images.githubusercontent.com/32390006/91703765-61aa1100-eb83-11ea-81ba-fefad0d27b0b.jpg)

most often it is not displayed at all, but if displayed on pl this happen

![20200831000401_1](https://user-images.githubusercontent.com/32390006/91669425

[2020-09-05 07:58] ghost opened #112 "Smaller Spy Disguise Outline"
Enhancement for those who want the Spy disguise but don't want it to cover up the screen like me.

[2020-09-11 02:58] ghost opened #114 "Item effect meters and weapon ammo disappears randomly"
For some reason, the item effect meters and the ammo count for my weapon disappears randomly. Using the latest version.

[2020-09-11 03:08] CriticalFlaw commented on #114
That's a known game bug. Unfortunately, it can't be fixed with HUD files.

[2020-09-11 12:44] Scoutman01 commented on #114
i think you need to inspect someone by pressing f in order to fix it

[2020-09-11 22:45] ghost commented on #114
Oh thought it was with this hud.

Yes that worked.

[2020-09-12 00:57] #114 closed, assigned to nobody

[2020-09-12 14:23] CriticalFlaw commented on #111
Fixed the first issue where the winner shadow is misplaced. Regarding the second issue with the duplicate timers. It's being caused by the game not playing the doors animation (the ones where TF2 themed door closes then opens again to start the match), so it won't be fixed.

[2020-09-12 14:23] #111 closed, assigned to CriticalFlaw

[2020-09-13 19:53] Scoutman01 opened #115 "KOTH timer (tf_use_match_hud 0)"
both timer are not centered
![20200913214903_1](https://user-images.githubusercontent.com/50184129/93027181-884c5b00-f60b-11ea-8b0b-e8d650aec092.jpg)

[2020-09-14 12:38] h9lk commented on #103
fresh strange screenshots
![20200913163517_1](https://user-images.githubusercontent.com/32390006/93086904-7f599900-f6a0-11ea-9b0c-c30fa1869c90.jpg)

![20200913183034_1](https://user-images.githubusercontent.com/32390006/93086832-605b0700-f6a0-11ea-8494-e50bdada120f.jpg)

[2020-09-15 01:59] CriticalFlaw commented on #115
Done. Thanks for reporting it.

[2020-09-15 01:59] #115 closed, assigned to CriticalFlaw

[2020-09-15 23:41] CriticalFlaw commented on #112
It looks like the Spy Disguise Outline is hardcoded so I can't reposition or downscale it. Closing this story because it cannot be addressed. Sorry about that.

[2020-09-16 00:14] CriticalFlaw commented on #109
Here's the updated version. Spaced out the health buff, first status icon and damage values so it looks less cluttered.

![image](https://user-images.githubusercontent.com/6818236/93277163-9dea8d80-f78f-11ea-9705-7eb2fdf94112.png)

[2020-09-16 00:14] #109 closed, assigned to CriticalFlaw

[2020-09-16 00:29] CriticalFlaw commented on #103
I've seen the bug in the first screenshot but it's so rare and impossible to fix without moving one of the icons so far to the side that it looks weird.

Second one is another game bug that I think can just be corrected by inputting `hud_reloadscheme` in console

[2020-09-16 10:39] Scoutman01 commented on #112
You can,

go to scripts and hudanimations_custom.txt, HudSpyDisguiseChanged section:

event HudSpyDisguiseChanged
{
	Animate PlayerStatusSpyOutlineImage		Alpha		"200"			Linear 0.0 0.2

	Animate PlayerStatusSpyOutlineImage		Position	"c-400 c-0"		Linear 0.0 0.2
	Animate PlayerStatusSpyOutlineImage		Size		"200 200"		Linear 0.0 0.2

	RunEvent HudSpyDisguiseHide	0.7
}

looks like this : https://imgur.c

[2020-09-16 13:14] CriticalFlaw commented on #112
Did not think to try that, thanks @Scoutman01! Here's what it will look like now.

![20200916091128_1](https://user-images.githubusercontent.com/6818236/93342092-e8eeba00-f7fc-11ea-849a-8e01001169d1.jpg)

[2020-09-16 13:14] #112 closed, assigned to CriticalFlaw

[2020-09-16 20:41] CriticalFlaw commented on #104
Added in https://github.com/CriticalFlaw/FlawHUD/pull/116

[2020-09-16 20:41] #104 closed, assigned to CriticalFlaw

[2020-09-16 21:56] Scoutman01 opened #117 "DamageAccountValue cut off"
heal 114 hp with the crossbow:
![Sans titre 1](https://user-images.githubusercontent.com/50184129/93396048-517a7d00-f877-11ea-881c-bccc66c62ac3.png)
do 65 damage with the ubersaw:
![Sans titre 2](https://user-images.githubusercontent.com/50184129/93396052-52abaa00-f877-11ea-9856-60b48ec721ea.png)

[2020-09-16 22:52] Scoutman01 opened #118 "Halloween Mode Bugs"
the hudbosshealth overlap with the truce message
![Sans titre 1](https://user-images.githubusercontent.com/50184129/93399570-23e50200-f87e-11ea-9664-0f7445b960a5.png)
ctf halloween has the stock look, you need to change HudMiniGame_Base.res (tested on pl_rumble_event with bots)
![Sans titre 2](https://user-images.githubusercontent.com/50184129/93399753-7d4d3100-f87e-11ea-87c5-ad0b7e7a8896.png)
if

[2020-09-16 23:39] CriticalFlaw commented on #118
Which map are the second and last screenshots from?

[2020-09-16 23:45] Scoutman01 commented on #118
pl_rumble_event (Gravestone)
ctf_hellfire (when you cap the intel)

[2020-09-17 00:06] CriticalFlaw commented on #118
Thanks. I'm just fixing that last issue right now. Here's what the updated kart minigame UI looks like
![image](https://user-images.githubusercontent.com/6818236/93404389-13219580-f858-11ea-8102-5df792727bb7.png)

[2020-09-17 00:20] CriticalFlaw commented on #117
Fixed. Thank you for reporting.

[2020-09-17 00:20] #117 closed, assigned to CriticalFlaw

[2020-09-17 00:21] CriticalFlaw commented on #118
All the bugs listed here have now been fixed. Thank you for reporting.

[2020-09-17 00:21] #118 closed, assigned to CriticalFlaw

[2020-09-20 22:16] Scoutman01 opened #119 "Enable seasonal/event backgrounds"
just a suggestion, you should add the if_halloween,... if the person choose defaults backgrounds in the installer

[code]

[2020-09-20 23:24] CriticalFlaw commented on #119
I wouldn't be opposed to Halloween backgrounds even if the user doesn't choose default backgrounds. It makes for a feeling of a special occasion when the background suddenly changes on you like that.

[2020-09-27 06:29] Tiagoquix opened #120 "Add High-resolution Class Images"
https://www.teamfortress.tv/52291/high-res-class-select-images

[2020-09-27 13:47] CriticalFlaw commented on #120
Those images are intended to work only on the Items screen, replacing the class emblems that flawhud currently uses which I will not be doing. If they would have been used to replace the 2D class images on the main game UI then I would have considered it.

[2020-09-27 13:50] CriticalFlaw commented on #119
Full Moon is coming up on September 30th so I'll try to get these seasonal backgrounds in then. Though I was sure that they already worked, namely full moon.

[2020-09-27 13:51] CriticalFlaw commented on #103
Not sure what to tell you about the payload tracker. I haven't had any luck reproducing it nor has anyone else reported it to me.

[2020-09-27 16:15] #120 closed, assigned to nobody

[2020-09-30 04:00] Tiagoquix opened #122 "Add developer commentaries to closed captions"
The link to the developer commentaries is below.

https://raw.githubusercontent.com/clovervidia/clovervidias-captions/master/resource/closecaption_clovervidiac.txt

[2020-09-30 13:57] CriticalFlaw commented on #122
I just thought of something that you may want to check to verify. FlawHUD uses a condensed version of clovervidiac's closed captions, removing all blanks. I'm wondering if those produce console errors such as "Could not find closed caption for X" - if it does then I may just use the full proper version.

https://github.com/CriticalFlaw/FlawHUD/blob/master/resource/closecaption_english.txt

[2020-09-30 14:08] #119 closed, assigned to CriticalFlaw

[2020-09-30 15:24] h9lk commented on #103
Sadly, constantly not displaying something or not correctly. It isn't solved `hud_reloadscheme`, `record fix; stop` or `snd_restart` - only restarting the game helps and removes visual bugs, but even then not always

[2020-09-30 15:30] #103 closed, assigned to nobody

[2020-09-30 15:31] CriticalFlaw commented on #103
Do you have any other things in your tf/custom folder?

[2020-09-30 17:30] h9lk commented on #103
Yep, i have - nohats-bgum, no explosion smoke script, surface properties &  comanglia's toaster config with ur hud

[2020-09-30 17:31] CriticalFlaw commented on #103
Can you reproduce the bug without any of those other addons except for the latest version of flawhud?

[2020-09-30 18:38] CriticalFlaw commented on #122
Updated the closed captions, below are all the changes. Thank you for the suggestion:
- Added developer commentary captions.
- Updated class specific captions to use high-contrast colors.
- Fixed "missing caption" errors and captions going offscreen.

[2020-09-30 18:38] #122 closed, assigned to CriticalFlaw

[2020-09-30 18:47] h9lk commented on #103
problem - don't know for what reason this happens, it turns out randomly, now I'll try to play without everything except ur hud

[2020-09-30 19:37] CriticalFlaw commented on #103
Give it a try. If it doesn't happen again then it's an issue with one of those other addons - otherwise it's an issue with flawhud.

[2020-09-30 19:42] Tiagoquix commented on #122
You forgot to change the `"Language"	"clovervidia"` to `"Language"	"english"`.
Also, don't you think that the closed captions without class-specific colors are better?

There is a version of Clovervidia Captions that is competitive but without class-specific colors. The link is below.

https://raw.githubusercontent.com/clovervidia/clovervidias-captions/master/resource/closecaption_clovervidiaw.txt

[2020-09-30 19:50] CriticalFlaw commented on #122
I'll change it to English later. It won't stop you from using the closed captions when enabled.

No, I think color specific captions are better because you can become familiar with each color and at a glance know which class the caption is about without reading.

[2020-09-30 19:55] h9lk commented on #103
only thing that so far noticed that  control point display panel began to disappear more often, removed all custom content,
`hud_reloadscheme` dont work, screenshots were taken on 2 different servers with an interval of 30 minutes

![20200930225023_1](https://user-images.githubusercontent.com/32390006/94733048-d41f3400-036f-11eb-8970-4f5c06a76fb9.jpg)

![20200930224635_1](https://user-images.githu

[2020-09-30 21:32] scarface52 opened #123 "Can't Close Item Drop Screen"
It doesn't happen consistently but when it does happen I can't click two bottom buttons and delete button. Upper ones work just fine. Hovering over them doesn't change the color of the button. When this happens mid game I can close it by pressing esc but it reappears every time I die. If it happens in main menu game soft locks and doesn't even let me search for a game and forces me to close the ga

[2020-09-30 21:39] CriticalFlaw commented on #123
It's a known bug. Something to do with the game layering this behind something it shouldn't. You can get past it by pressing Enter.

[2020-09-30 21:40] scarface52 commented on #123
Okay thanks for the info.

[2020-09-30 21:40] #123 closed, assigned to nobody

[2020-09-30 23:09] Tiagoquix commented on #122
It will. When closed captions are enabled and `cc_lang`'s value is empty (its default value), it will read the `cl_language` cvar to determine in which language the closed captions should be displayed by the game.

* cc_lang - Current close caption language (emtpy = use game UI language)
https://developer.valvesoftware.com/wiki/List_of_TF2_console_commands_and_variables

Alright.

[2020-10-01 00:03] CriticalFlaw commented on #122
Weird. Because I was able to test the closed captions without issues or any additional changes except putting in `closecaption 1` into console. But sure, I've pushed the change here: https://github.com/CriticalFlaw/FlawHUD/commit/e4f45a6c26c28efec04c71fe4fd9dece69ee2fc4

[2020-10-01 04:24] CriticalFlaw opened #124 "Update to Code Pro Fonts"
- Remove Gravity-Light, make Code Pro LC the only secondary font.
- Add the missing { in code pro's clientscheme
- Make Code Pro work without needing to install the fonts.

[2020-10-04 21:00] h9lk opened #125 "Souls overflow"
As you can see in this screenshot souls line on red overflow border

![20201004231139_1](https://user-images.githubusercontent.com/32390006/95026979-c3d3c580-069d-11eb-880d-9a5e146b2588.jpg)

[2020-10-04 21:03] CriticalFlaw commented on #124
Done in https://github.com/CriticalFlaw/FlawHUD/commit/877f14693df8a3226f7d084ec6b2336fa456acf6

[2020-10-04 21:03] #124 closed, assigned to CriticalFlaw

[2020-10-06 08:04] #125 closed, assigned to CriticalFlaw

[2020-10-07 14:31] Mister36MN opened #126 "Own Name not listed in "Mute Players" pop-up box"
It seems that when looking in the "Mute Players" Menu, your own name is not listed. Normally this would be totally fine, however in the case of selecting all players in a server to mute with Shift+Click (Sometimes you just gotta do it), it does seem to also select your name.

As of yet, I have not been able to find a way to un-mute myself, even by selecting all players and unmuting. (muting myself

[2020-10-07 14:40] CriticalFlaw commented on #126
Valve recently changed the Mute Player list which [FlawHUD was updated to use](https://github.com/CriticalFlaw/FlawHUD/commit/f40748d7f9e29d935164c29b370f3322a5669273#diff-bb28e140415359f4d88187036b79ba45). If this is an issues you're experiencing with the default HUD then you should open an issue on Valve's issue tracker so they can fix it;

https://github.com/ValveSoftware/Source-1-Games/issues

[2020-10-07 14:49] Mister36MN commented on #126
Thank you, I will submit an issue in that github. I forgot they had changed that entire menu.

Issue here: https://github.com/ValveSoftware/Source-1-Games/issues/3396

[2020-10-07 14:57] CriticalFlaw commented on #126
Thank you. Because there's nothing I can do and it's in their hands I'll be closing this issue.

[2020-10-07 14:57] #126 closed, assigned to nobody

[2020-10-11 18:05] Scoutman01 opened #127 "Winpanel details label and avatar image freeze panel"
just a suggestion, make the details label to appear on the win panel and change the ypos to 130 :
![20201011133722_1](https://user-images.githubusercontent.com/50184129/95685763-22e38e00-0bfa-11eb-817c-0984e622c5ea.jpg)
in freezepanel_basic, change avatar image xpos to 45, wide to 14 and wide_minmode to 0 :
![Sans titre 1](https://user-images.githubusercontent.com/50184129/95686259-ff6e1280-0bfc-1

[2020-10-11 19:21] CriticalFlaw commented on #127
I'd like there to be more of a gap between the details label and the killstreak player, perhaps 135 - just move the win panel up a bit more. For the freezepanel the avatar should be the same height as the black background.

If you'd like to make those changes you're welcome to do so.

[2020-10-13 01:14] CriticalFlaw commented on #127
Added in https://github.com/CriticalFlaw/FlawHUD/commit/cfa84c839d94875e5c30a2c1d0f421fe4809dfad by @Scoutman01

[2020-10-13 01:14] #127 closed, assigned to Scoutman01

[2020-10-13 09:28] nathanielcwm opened #129 "On 4:3 monitors when entering the mode selection the bottom isn't greyed."
![image](https://user-images.githubusercontent.com/22572406/95842705-716b6680-0d79-11eb-96fe-ce01a37ca17b.png)

Also applies when streamer mode is off. I won't send a screenshot because there's a ton to censor if it's off lol.

[2020-10-13 16:47] CriticalFlaw commented on #129
Unfortunately, Valve hardcoded that grey area to not stretch across the screen and there's no way to change it.

[2020-10-13 18:19] spell-bound opened #130 "Weapon skins all look squished"
![20201013111330_1](https://user-images.githubusercontent.com/72820062/95899479-7ca49f00-0d45-11eb-9f76-2cff86268dc7.jpg)
Also if you could add player models to the scoreboard thatd be cool. Love this hud!

[2020-10-14 04:03] nathanielcwm commented on #129
rip

[2020-10-14 04:03] #129 closed, assigned to nobody

[2020-10-14 19:30] h9lk commented on #130
some weird aspect ratio, it seemed to me that everyone use same weapon models in hud, don't they?

![20201014222705_1](https://user-images.githubusercontent.com/32390006/96036255-e075b780-0e6c-11eb-904b-b91ffa30aac7.jpg)

[2020-10-14 19:54] CriticalFlaw commented on #130
Lower resolutions will squish on screen elements together. That's why there's no gap between the dashboard and the Loadout/Stat tabs in the first screenshot.

The optimal resolution, the one FlawHUD was made for is 16:9 at 1920x1080 anything lower or higher may yield mixed results not all of which, such as the the skins, can be fixed.

[2020-10-15 07:36] spell-bound commented on #130
Oh okay switching from 2560x1440 to 1080 fixed it thanks

[2020-10-15 07:36] #130 closed, assigned to nobody

[2020-10-19 04:38] Tiagoquix opened #131 "Support for some modifications"
Hey. I would like to know if there is any possibility of adding any of the modifications below into FlawHUD.

1. [Menu Character Overhaul [WIP]](https://gamebanana.com/wips/52424)
2. [Loadout Backgrounds](https://gamebanana.com/guis/29307)
3. [Making the Loadout screen look like this](https://screenshots.gamebanana.com/img/ss/guis/5ce30c7dde6ae.jpg)
4. [MvM | Remove "toggle ready" Blinking/Pulsing

[2020-10-19 09:19] Tiagoquix opened #132 "Add DashboardDimmer support"
It's bad to have it off since it can cause problems. But is ugly to have it on and not use it the "correct" way.
ToonHUD, for example, was designed in a way that it perfectly fits the DashboardDimmer.

**Can't you do the same, CriticalFlaw?**

[2020-10-19 15:23] CriticalFlaw commented on #132
This would necessitate a main menu redesign. My reasoning against the idea is that the DashboardDimmer is only an issue when the Matchmaking Menu is open. To workaround it and have a persistent menu at the bottom of the screen is not ideal because:

1. It would cut off a portion of the background, which would always look bad and require that to be changed as well.
2. The menu has very few options

[2020-10-19 15:45] CriticalFlaw commented on #131
- **1, 12, 16** - Images like that would bloat FlawHUD's ~2.5MB file size. They're nice but users can install these themselves.
- **2, 10, 11** - All go against FlawHUD's dark theme. Loadout background only looks good on that page and not the rest.
- **3, 7, 9** - Could be considered if they are not used by another HUD, file size is not too big and the mod creator gives permission.
- **4** - Can b

[2020-10-20 00:12] #132 closed, assigned to nobody

[2020-10-20 00:20] Tiagoquix commented on #131
Alright.

Cool. I think that the [number 9](https://www.youtube.com/watch?v=A6g0mPo-uJM) is the best between the three.

Cool too.

The mod is good but I changed my opinion and now I don't think that it should be included into FlawHUD. It is more user preference, and like you said, the focus is to have competitive captions, and not all in-game captions.

In my opinion, [this](https://gamebanana.co

[2020-10-27 13:33] 0cyn opened #133 "No padding between killstreak number and icon in killfeed with default font"
Love the HUD so far, going to enable custom fonts in a bit, but figured I might report this.

[2020-11-19 18:44] CriticalFlaw commented on #133
There is no way to add padding between icons on the killfeed. As a compromise I've increased the font size to 11 so that it would make everything slightly bigger and less cramped.

[2020-11-23 01:25] #133 closed, assigned to nobody

[2020-11-23 01:56] #131 closed, assigned to nobody

[2020-11-26 22:34] qhacim opened #135 "Friends list and names won't appear."
I switched from flawhud to funkehud but then switched back, and now flawhud won't show my friends list, leaderboard, kill feed names, or any names for that matter.

[2020-11-26 23:11] CriticalFlaw commented on #135
That's because you have Streamer Mode enabled (it should say so on the bottom right corner of the main menu), to switch off it either turn off minmode or press the button on the right hand side of the main menu, right under the Refresh HUD button.

[2020-11-26 23:15] qhacim commented on #135
Thanks man.

On Thu, Nov 26, 2020 at 5:11 PM Igor <notifications@github.com> wrote:

[2020-11-26 23:22] #135 closed, assigned to nobody

[2020-11-27 13:51] pingas12345 opened #136 "Target damage is misplaced and code-pro font is not rendering"
Hello, I am not sure if this is an issue with the installer or with the hud in general but I had just updated the installer, made some edits to my hud and reinstalled it, but opening TF2 I found that the gamemode selection selection widget is sliding from below instead of from the right like how TF2's default hud does (and how the previous Flawhud version worked), and when I join a match damage de

[2020-11-27 13:59] CriticalFlaw commented on #136
Hello. Please remove your current installation of flawhud and install a fresh version. There may be a file conflict somewhere.

The sliding dashboard is a new design, just that it's not showing any text for some reason.

[2020-11-27 14:06] pingas12345 commented on #136
I've deleted flawhud from tf/custom and reinstalled it with the installer and still no difference, with no text and damage still appearing glitched.

[2020-11-27 14:20] pingas12345 commented on #136
Here's what the settings in the installer look like

![image](https://user-images.githubusercontent.com/64357461/100458408-d73c6380-3117-11eb-9ea4-b11b1ba82645.png)

Edit: turns out unticking Code Pro Fonts fixes the text not appearing in the dashboard but my target damage text appears below

[2020-11-27 15:11] CriticalFlaw commented on #136
Try doing a refresh one more time please. I've just pushed the commit https://github.com/CriticalFlaw/FlawHUD/commit/8064707ab5fda89c3fbaf6117fe15d58de2d7be2 which adds the missing font entry for Code Pro and the updated damage value position. Sorry for the inconvenience.

[2020-11-27 15:30] pingas12345 commented on #136
The damage value still appears for me floating below and not above the target, even after deleting and reinstalling the HUD.
However, the Code Pro font works in the dashboard as intended now.

[2020-11-27 15:36] CriticalFlaw commented on #136
What happens if you enable the alternate player stats option, see where the damage values lands then revert back.

I'm not getting this damage value misplacement, so something must be getting screwy somewhere

[2020-11-27 15:56] pingas12345 commented on #136
I am getting the same result with the alternate player stats option ticked. I've attached a better example of my issue if necessary.
The one circled is the damage that is presented over the enemy target and accumulated. It is showing underneath in some weird position below me and obscures itself weirdly as well.

Just a small note, I won't be replying for another 8-9 hours due to sleep so the issu

[2020-11-27 15:58] CriticalFlaw commented on #136
Oh I see. It's not the value shown on your HUD but the one you'd expect to see over your target.

[2020-11-27 15:59] pingas12345 commented on #136
Yes, precisely

[2020-11-27 16:35] CriticalFlaw commented on #136
Thank you for clarifying. I've pushed an update for both FlawHUD and the Installer (pulled the old version so just download it again from the Release page) which corrects the damage positioning for all modes (default, lowered and alternate).

[2020-11-28 04:11] pingas12345 commented on #136
Thank you, reinstalling it fixes it now

[2020-11-28 04:11] #136 closed, assigned to CriticalFlaw

[2020-12-03 22:51] qhacim opened #137 "Custom hit sound"
How do you make a custom hit sound work in flawhud?

[2020-12-03 23:18] CriticalFlaw commented on #137
You can just install it like any custom hitsound and it should work alongside the HUD. If it doesn't work then you probably installed incorrectly.

[2020-12-04 19:21] ghost opened #138 "Mode Selection menu is cutoff in 4:3 resolution"
4:3 1024x768
![image](https://user-images.githubusercontent.com/34733116/101205622-bc3f8700-3622-11eb-9208-f51a69eb2a5c.png)

[2020-12-04 20:38] CriticalFlaw commented on #137
Closing because this is not HUD related.

[2020-12-04 20:38] #137 closed, assigned to nobody

[2020-12-08 03:08] CriticalFlaw opened #140 "Missing indicator that building is being attacked/sapped"
Reported by @69420-cell

[2020-12-08 17:43] CriticalFlaw commented on #138
Fixed in https://github.com/CriticalFlaw/FlawHUD/commit/498135ff73c1a72203e2fd82c7e4d493d5361437

The Create Server and Training Mode buttons were moved to the icon tray above the Friends List and the mode selection icons were shifted to be better positioned in 4:3 and 16:9 resolution.

[2020-12-08 17:43] #138 closed, assigned to CriticalFlaw

[2020-12-08 18:52] CriticalFlaw commented on #140
Fixed in https://github.com/CriticalFlaw/FlawHUD/commit/d97112db53abba0e9a51345d12fe655970b95777

[2020-12-08 18:52] #140 closed, assigned to CriticalFlaw

[2020-12-09 02:47] pooter90000 opened #141 "Colors not working"
When I open the FlawHUD Installer and I try to change the HUD colors and click apply changes, there's a popup saying "An error occurred while applying the color settings. Sequence contains no elements". This might be entirely my fault, I might be doing it wrong, but I'm just pointing it out in case it is a problem.

[2020-12-09 03:08] CriticalFlaw commented on #141
Make sure you're on the latest installer version (v1.9) and just to be safe, do a clean installation of flawhud (make sure it's removed from `tf/custom`) this error usually means that the installer got a different result from the one expected.

[2020-12-24 18:57] CriticalFlaw commented on #141
Closing due to lack of response from the reporting user.

[2020-12-24 18:57] #141 closed, assigned to nobody

[2021-01-08 11:47] Flavio11113 opened #142 "Players not being listed, empty kill feeds"
Hi,

I really like your HUD. Just got the problem that players are not being listed in TAB and kill feed contains no names.
Any solutions for this?

Video attached.
https://www.youtube.com/watch?v=Y8fft9fjk68

[2021-01-08 13:22] CriticalFlaw commented on #142
You have streamer mode enabled (says on the bottom right corner of the main menu). To disable it, you'll need to toggle off minmode in game or your config if that's where it is set.

[2021-01-09 00:42] Flavio11113 commented on #142
Oh, yeah that was the problem. It was enabled by default.

Thanks 👍

[2021-01-09 00:54] #142 closed, assigned to nobody

[2021-01-09 22:43] CriticalFlaw opened #143 "XP labels are misplaced in post match screen"
Dogeman on the Steam Group reported the competitive MMR not being displayed on the main menu as it does in the stock HUD.

https://steamcommunity.com/groups/FlawHUD/discussions/1/3007808519568996438/

[2021-01-10 04:40] CriticalFlaw commented on #143
Added in 05ece21785d42d4e7d26ee2d23de23741d02b327. It looks weird, being aligned to the side but that's because it uses the same label as the "current xp" value seen when viewing the casual badge.

[2021-01-13 15:28] CriticalFlaw commented on #143
Reopening because this change misplaced the XP labels on the post-casual match screen.

[2021-01-15 01:19] CriticalFlaw commented on #143
Fixed in https://github.com/CriticalFlaw/FlawHUD/commit/7a33cdd7955a714a23ce1d1fb8d598ba057e1b14

[2021-01-15 01:19] #143 closed, assigned to CriticalFlaw

[2021-01-24 13:22] johnRivs opened #144 "How to enable the default floating health cross?"
This one.
![](https://i.imgur.com/dmcR7AG.png)

[2021-01-24 19:11] h9lk commented on #144
Why is this display inconvenient?
![20210124220409_1](https://user-images.githubusercontent.com/32390006/105640818-293c0400-5e91-11eb-8665-35306fa3c80a.jpg)
![20210124220420_1](https://user-images.githubusercontent.com/32390006/105640821-2a6d3100-5e91-11eb-9afd-4d40f086e0e5.jpg)

For me what has become worse is the choice of the mode in resolution 4x3, it's just awful
![20210124220648_1](https://u

[2021-01-25 01:21] CriticalFlaw commented on #144
@johnRivs You can go back to the default health indicator by removing `flawhud/resource/ui/spectatorguihealth.res` and any line in `flawhud/scripts/hudanimations_custom.txt` that reference **GuiPlayerHealth**. The only issue is that the health on the TargetID will no longer display correctly as shown in the screenshot below. That's because the TargetID is not designed to fit the size of the defaul

[2021-01-25 01:24] CriticalFlaw commented on #144
@h9lk I don't see the issue with how the floating health is shown over the players' heads, it's readable and large enough to see. If you want it disabled, you can do so in the Advanced Options menu.

Regarding the mode selection, it's been fixed for 4:3 to display all four options as it did not do so before. The text being shown is known but won't be fixed because it's needed to fill space in high

[2021-01-25 08:06] h9lk commented on #144
@CriticalFlaw question is more directed to author of post, it was my mistake that didn't pose @, think this is the most convenient display and see no reason to change it, was interested in opinion of a person why he wants to return this mapping to this fat plus above pocket head.

Regarding the expansion, don't use this hud, as it's not comfortable for me at 6s, in this extension can see everythin

[2021-01-25 17:37] johnRivs commented on #144
@CriticalFlaw That works for me, thank you. You think I can also change the text color inside the cross? Something darker so it contrasts better with the beige.

[2021-01-26 14:52] CriticalFlaw commented on #144
@johnRivs For that, instead of deleting `flawhud/resource/ui/spectatorguihealth.res` you could replace all of its contents to what's being used in the default HUD (linked below), then go to `PlayerStatusHealthValue` and change the `fgcolor` from TanDark to White or TanLight or whatever works for you.

https://raw.githubusercontent.com/Hypnootize/TF2-Default-Hud/710492de20779d3568f1f4d50ffcd7ed7cd0

[2021-01-26 14:54] CriticalFlaw commented on #144
@h9lk I understand, it's all good. Also just FYI, the Training and Create Server buttons were moved to the icon tray just above the Friends List because they didn't fit on the Mode Selection panel in 4:3

[2021-01-26 16:41] johnRivs commented on #144
@CriticalFlaw  Works for the one above the player. Is it possible to change the text color for the cross in the bottom?
![](https://i.imgur.com/WzHxoNa.png)

[2021-01-31 08:28] derek1906 opened #145 "FPS drops significantly after playing for a while"
There’s a significant FPS drop (almost halved) when using this hud. The drop seems to only happen after playing for a while, and it doesn’t happen with the default hud. Frame rate would go back to normal if I hold the tab key (which shows the scoreboard and hides the rest of the hud.)

I’m using v2020.1225.

[2021-01-31 18:54] CriticalFlaw commented on #145
HUDs do not cause frame drops over time and even when they do cause drops it's very minimal and would be noticed instantly. The most likely explanation is that you've either been playing for a long time, played on an unoptimized map or a server with too many players or mods.

[2021-01-31 18:55] CriticalFlaw commented on #144
@johnRivs Try changing `TextColor` in `resource/ui/targetid.res` under `SpectatorGUIHealth`

![image](https://user-images.githubusercontent.com/6818236/106394722-0303f000-63cc-11eb-95e5-d40ce2fc586b.png)

[2021-01-31 19:19] derek1906 commented on #145
I don’t think the maps I have been playing on are unoptimized, as I mentioned the frame rate would immediately return to normal (above 100) when I toggle the scoreboard overlay. I’ll test with other custom huds in the meantime and see if I would run into the same issue, which is unfortunate because I like this hud a lot more than the other ones.

Is there a way to debug in-game where the performan

[2021-01-31 19:39] CriticalFlaw commented on #145
I don't think so, but if you can note all instances of when it happens I'm sure there are those within the greater community who would be able to deduce the cause. As it stands, this isn't a widely reported issues so there is not much for me to be done.

[2021-02-01 03:06] derek1906 commented on #145
Thanks for the reply. I did some tests today with a different hud I found on huds.tf (budhud) and I found that the frame rate was consistent the whole time I was playing (>3 hours on the same servers I usually play on), so personally I’m confident that _something_ in this hud is causing the FPS drop. Fortunately from what I see it doesn’t seem like a widespread issue, and in the meantime I’ll just

[2021-02-01 16:01] johnRivs commented on #144
@CriticalFlaw Doesn't quite work. I'll set it to "Black" or "Red" or anything else, I refresh the HUD, it'll show black (for "Red" too) but when I heal someone else it'll go back to white.

[2021-02-01 16:07] CriticalFlaw commented on #144
@johnRivs Did you also make sure change the FgColor from HudWhite under `HudHealthBonusPulseStop` and `HudHealthDyingPulseStop` in `scripts/hudanimations_custom.txt`? Those are the animations that change the color when healing or being healed or damaged.

[2021-02-01 16:23] johnRivs commented on #144
@CriticalFlaw I've got these things:
`TextColor` `Black` under `SpectatorGUIHealth` in `targetid.res`
`fgcolor` `Black` under `PlayerStatusHealthValue` in `spectatorguihealth.res`
`FgColor` `Black` next under `HudHealthBonusPulseStop` and `HudHealthBonusPulseStop`

When everything is black, it works but it'll change my own health to black. When I set `PlayerStatusHealthValue` under `HudHealthBonus

[2021-02-01 16:30] CriticalFlaw commented on #145
Didn't mean to close it. The repo automatically did so when I committed a change. I'm discussing this issue with another HUD developer and I think a potential cause could be the hitmarker animations for a commonly disabled crosshair constantly being called. Extraneous crosshair animations are known to cause FPS drops, so while we continue to look into this - I think this may help mitigate the issu

[2021-02-01 16:31] CriticalFlaw commented on #144
Under `HudHealthBonusPulseStop` and `HudHealthBonusPulseStop` revert `PlayerStatusHealthValue` back to HudWhite. I think that's the only variable that colors your health so you probably don't want to appear black.

[2021-02-01 16:34] johnRivs commented on #144
Yeah but that's also the one making my target's HP white.
![](https://i.imgur.com/ntamk0D.png)
![](https://i.imgur.com/cVb6Nrj.png)

[2021-02-01 16:36] CriticalFlaw commented on #144
`spectatorguihealth.res` shouldn't have `PlayerStatusHealthValue` - it should be using `GuiPlayerHealth` which you would want to color in animations instead.
![image](https://user-images.githubusercontent.com/6818236/106488518-ca265280-6481-11eb-9eb8-bb93de4c973a.png)

[2021-02-01 16:45] johnRivs commented on #144
Got it 😭 I'll live with the weirdly shaped cross up there. Thank you for your time!
![](https://i.imgur.com/ljBOyEH.png)

[2021-02-01 16:57] CriticalFlaw commented on #144
No problem at all. Closing the ticket now.

[2021-02-01 16:57] #144 closed, assigned to nobody

[2021-02-01 21:37] CriticalFlaw commented on #145
Whisker did a benchmark comparing default, budhud and flawhud before and after the change and the results were positive. Where are before it averaged ~158 FPS it went back up to ~232. Could you retest and see if you still experience any significant slowdown?

[2021-02-01 21:50] derek1906 commented on #145
Wow that was quick! I will report back in a few days once I have a chance to test it out, thanks!

[2021-02-02 05:26] derek1906 commented on #145
The commit seems to have resolved the issue! The frame rate was consistent the whole time. Thank you!

[2021-02-02 16:51] #145 closed, assigned to CriticalFlaw

[2021-02-04 21:30] inoblit opened #146 "Modifying the main menu"
I'm really new to anything around mod/huds but I would like to know if it's possible to change the menu title that says "team fortress 2" in you hud, also how can I make the character portraits on the menu visible again ? I am using an older version of the HUD where it is stuck to the inferno update, I've looked into the files but I only managed to change the background and not the title or the ch

[2021-02-05 18:07] CriticalFlaw commented on #146
If you want the Team Fortress 2 title and character images you can copy `TFLogoImage` and `TFCharacterImage` from the latest version and paste it into yours. https://github.com/CriticalFlaw/flawhud/blob/master/resource/ui/mainmenuoverride.res#L191

[2021-03-13 22:01] #146 closed, assigned to nobody

[2021-03-21 13:51] CriticalFlaw opened #147 "Add an Options Panel"
Some HUDs use the MOTD panel for displaying HUD options that the user can select. Could be worth looking into and trying out.

- Refresh HUD
- Closed Captions
- Sound Fix
- Invisible Players Fix
- Display Netgraph
- Display Chat
- Streamer Mode

[2021-04-02 18:31] Tiagoquix commented on #147
Some users use `cl_disablehtmlmotd 1`, and I think it would just disable this possible HUD feature.

For this reason, I think you shouldn't implement this feature.

[2021-04-03 15:18] CriticalFlaw commented on #147
`cl_disablehtmlmotd` is only for the HTML MOTD pages seen when joining a server, or when a server has an ad like Skial. This command does not disable the MOTD panel on the main menu, so every user can still access it.

[2021-04-17 15:31] CriticalFlaw opened #149 "Rename Icons.otf"
If the user has another font called `Icons` installed on their local machine, the font included with flawhud may not load properly. This applies to both flawhud and rayshud, so the font file needs to be renamed to something less generic.

Reported by ketetaco on the Discord Server.

![image](https://user-images.githubusercontent.com/6818236/115118253-49e79780-9f70-11eb-82d5-2048ce9182ab.png)

[2021-04-17 15:52] CriticalFlaw commented on #149
Fixed in fd3692f9c0bb000359a01b63a4f8c6d2ce80fd83

[2021-04-17 15:52] #149 closed, assigned to CriticalFlaw

[2021-04-18 00:23] CriticalFlaw opened #150 "Add a Console Button"
The console button was originally removed in 498135ff73c1a72203e2fd82c7e4d493d5361437 due to lack of space on the icon tray. However it has since been requested by a decent number of people, so it should be added back. The challenge will be finding a good place for it.

[2021-04-18 01:43] CriticalFlaw commented on #150
Added in 923565a3463b49de04596c7ee1109e57104e8b81

[2021-04-18 01:43] #150 closed, assigned to CriticalFlaw

[2021-05-19 18:13] Tiagoquix opened #152 "Extended Fonts"
They are listed on the CREDITS.MD file but they aren't even used by the HUD.

[2021-05-19 19:27] CriticalFlaw commented on #152
You're right, they've been removed recently due to potential performance issues. It's been removed in https://github.com/CriticalFlaw/flawhud/commit/43eb6ff1535a96830235f09923e735b58ff25bfe

[2021-05-19 19:27] #152 closed, assigned to nobody

[2021-05-20 15:27] CriticalFlaw opened #153 "Add Customization Options"
There are some ideas that I would like to implement but wouldn't want to force other users to use, unless they chose to. The new editor allows for these customizations to be quickly implemented, so it's a good opportunity to add some new ones to flawhud.

Below are some customizations (some admittedly copied from others) that I'd like to try:

- [x] Full width Ubercharge meter. (35ae0682c409e1f7d9

[2021-05-25 02:37] CriticalFlaw commented on #147
Added in 0deb0a74c37d8a646bfb5b7938943e12815fa959

[2021-05-25 02:37] #147 closed, assigned to CriticalFlaw

[2021-05-29 21:50] #153 closed, assigned to CriticalFlaw

[2021-05-30 01:10] NotTsunami commented on #153
Are 35ae0682c409e1f7d9a6844e04249f42a8b186f5, f280850241be1c4de9824ce15238a6e463151e17, d1a9edf3b53b9ea2a9a84e3e99036ff3e7a1fd8f and 7db913104e93b3d1f6075e6a9c6ac02d7c685daa intentionally excluded from master? These changes are present in the edit branch, and not on master branch. It would be cool to see these as a customization.

[2021-05-30 01:46] CriticalFlaw commented on #153
Yes. I was not satisfied with how they turned out so I'll keep them in the edit branch and refine until I'm happy with the end result.

Since they'll be customization options they'll be easy to implement once ready

[2021-05-30 03:54] NotTsunami commented on #153
Sounds good, look forward to it. Thanks for the response!

[2021-05-30 13:28] Tiagoquix opened #154 "resource/ui/huditemeffectmeter_action.res"
Shouldn't it be

[code]

instead of just

[code]

?

[2021-05-30 14:23] CriticalFlaw commented on #154
No. The file is not used for anything and is only there to prevent the game from putting out an error in the console. The game code looks for huditemeffectmeter_action but doesn't actually use it for anything. There's no point in adding a #base

[2021-05-30 14:24] #154 closed, assigned to nobody

[2021-05-30 19:26] scarface52 opened #156 "Badges on the scoreboard are misaligned and CP indicator is missing"
After installing the latest version of the flawhud, badges on the scoreboard now look like this.
![20210530172307_1](https://user-images.githubusercontent.com/71343424/120117070-19f8fa00-c194-11eb-8806-da0dd4f9be42.jpg)

On CP and KOTH gamemode hud element that appears below-mid of the screen is missing.
![20210530221538_1](https://user-images.githubusercontent.com/71343424/120117300-3d707480-c195

[2021-05-30 19:36] CriticalFlaw commented on #156
Does this happen every time or only sometimes? Also, next time this happens try entering `hud_reloadscheme` into console or use the Refresh HUD button in the HUD Options and see if that fixes things.

[2021-05-30 19:39] scarface52 commented on #156
Yes, it happens every time and I have used that option but it didn't help.

[2021-05-30 19:41] CriticalFlaw commented on #156
I'll take a look later tonight. Thank you for reporting it.

[2021-05-31 02:35] CriticalFlaw commented on #156
The bug was being caused by a recent change where the player list was being pinned to its background using `pin_to_sibling`. For whatever reason, casual badges' position gets messed up when using that property. The bug has been fixed here: b164ef1277f38a15ed5a6d92db5bced6d508ce21.

Please verify and then close the ticket if it looks good. Cheers.

![20210530223740_1](https://user-images.githubuser

[2021-05-31 02:38] CriticalFlaw commented on #156
I wasn't able to replicate the issue with control point icons not displaying. Could be an issue caused by a different mod if you have one installed. Otherwise, this is likely just an occasional game bug.

![20210530223737_1](https://user-images.githubusercontent.com/6818236/120132089-b5d83500-c197-11eb-95cb-6b4d16267cbc.jpg)

[2021-05-31 02:46] Silexos opened #157 "Match death outlines wrong team colors"
Hiyo I noticed that dead team members will have the wrong team color for their background at the top of the screen. This doesn't seem to affect the player themself. The error continues upon refreshing the hud and reinstall.

![20210530193643_1](https://user-images.githubusercontent.com/85089160/120132514-53733a80-c17f-11eb-8127-adeab4cf5df4.jpg)

[2021-05-31 03:24] CriticalFlaw commented on #157
Good catch. Fixed the issue in 3f428b755570d953ee2fecd67345d606f648c82d. Could you retest it please?

[2021-05-31 04:55] Silexos commented on #157
Just tested it and it's working as intended! Thanks for the quick fix!

[2021-05-31 09:44] Silexos commented on #157
I noticed that the team health values at the top of the screen does not change color in response to the changed values in the hud editor. It's minor but I figured I would mention it (also sorry if this came off as nitpicky I'm just hoping this feedback helps with your development).

[2021-05-31 11:24] scarface52 commented on #156
The issue related to badges has been fixed, thank you.

The control point indicator issue is somehow disappeared. Perhaps it was an occasional game bug like you said.

[2021-05-31 11:24] #156 closed, assigned to CriticalFlaw

[2021-05-31 12:35] CriticalFlaw commented on #157
I'll make that change as well since users will probably expect that to change color if they use the editor. Thanks! 8d2ed3435e07a6d56660f1b0e763a40bd32aed9f

---

To give you some context, originally those colors were being referenced by their client scheme name instead of color code. That was changed to just color codes in 3cd3a48620112e62851048fded53415b764be966 because myself and Whisker had a

[2021-05-31 14:55] huupoke opened #159 "Player's medals are not being positioned correcly"
The medals on the scoreboard is not being positioned correctly, and some medals are missing.
The bug doesn't happen on the previous releases.
I'm using 1600x900 resolution, playing on Arch Linux.

**Screenshot**
![Screenshot_2021-05-31_21-43-57](https://user-images.githubusercontent.com/16283764/120210106-9acdf980-c259-11eb-9a1e-0908d154a3d9.png)

[2021-05-31 15:28] CriticalFlaw commented on #159
This has already been reported and fixed here: https://github.com/CriticalFlaw/flawhud/issues/156

Please redownload the latest version off GitHub, huds.tf or using the editor. Thanks!

[2021-05-31 15:28] #159 closed, assigned to nobody

[2021-06-01 00:27] #157 closed, assigned to CriticalFlaw

[2021-06-01 00:31] Silexos commented on #157
Alrighty! I didn't know how it worked so it was interesting to see you explain it a bit. It works great and the ticket has been closed, thanks again!

[2021-06-01 02:38] Tiagoquix commented on #154
So why does this file have one?

[2021-06-01 02:39] Tiagoquix commented on #154
Shouldn't it be empty instead?

[2021-06-01 03:00] CriticalFlaw commented on #154
My bad I was mistaken. We actually need the #base to inherit ItemEffectMeter for the console error to go away. We don't need to include `"Resource/UI/huditemeffectmeter_action.res"` in the file to appease the game.

[2021-06-01 08:11] Silexos opened #160 "Ubercharge flashing between color selected in hud editor and purple"
Hi again I don't know how to show this off via a screenshot but upon building a full uber as medic, the center bar will flash between whatever selected color as well as this solid purple.

![20210601005532_1](https://user-images.githubusercontent.com/85089160/120289321-0756f180-c276-11eb-88bc-8138230ffe64.jpg)

[2021-06-01 13:17] CriticalFlaw commented on #160
Oh this is an easy change from a mistake I made in the previous commit. Basically you want to go into `flawhud/scripts/hudanimations_custom.txt` go to line 91 and change the called color from UberChargeShadow to UberChargePulse. Do that on your side first and see if that fixes the issue. If it does, feel free to open a PR or I'll commit the change later today. Cheers

[2021-06-01 13:17] CriticalFlaw commented on #160
Here's the direct line: https://github.com/CriticalFlaw/flawhud/blob/master/scripts/hudanimations_custom.txt#L91

[2021-06-01 18:12] CriticalFlaw commented on #160
Fixed here https://github.com/CriticalFlaw/flawhud/commit/f9c367ca83f98f3255c30b9e411a38ff5ca10178#diff-cdb7d61a2cce1861fc9fe5d88e865a11201bd36dfa364df3f46d3b81ce9760ce. Please verify.

[2021-06-01 21:09] Silexos commented on #160
Yep it's currently working! Apologies for the late response I was away today, but thanks again!

[2021-06-02 20:09] Silexos commented on #160
Hiya sorry to reopen this but I noticed now that shadow of overheal/low health value will now mimic the color value rather than the typical black shadow of normal health values (note: the shadow of regular health values were not affected and still show their usual black)

![20210602130637_1](https://user-images.githubusercontent.com/85089160/120545431-7c741500-c3a3-11eb-8ee5-1a5c8505202b.jpg)

[2021-06-02 20:14] CriticalFlaw commented on #160
That's an intentional change. I've changed it in the default flawhud to use a darkened color shadow instead of pure black for colored text.

[2021-06-02 20:18] Silexos commented on #160
Oh alright! I'll just close the issue then, apologies. Maybe a black shadow option as an alternative could work in the future as a means to improve clarity when using brighter colors (as shown with the Aqua option from the editor).

[2021-06-02 20:18] #160 closed, assigned to CriticalFlaw

[2021-06-05 03:26] Tiagoquix opened #164 "Outdated description in huds.tf"
"Streamer Mode
If you're streaming on Twitch/YouTube and need extra protection against stream snipers and DDoS attacks, then you can toggle Streamer Mode by clicking on the Incognito button on the right hand side of the main menu."

The Incognito button has been removed.

https://huds.tf/site/s-FlawHUD

[2021-06-05 03:28] Tiagoquix opened #165 "resource/ui/huditemeffectmeter_cleaver.res in FlawHUD"
Shouldn't it have a line like [this](https://github.com/SteamDatabase/GameTracking-TF2/blob/master/tf/tf2_misc_dir/resource/ui/huditemeffectmeter_cleaver.res#L58)?

FlawHUD's file: https://github.com/CriticalFlaw/flawhud/blob/master/resource/ui/huditemeffectmeter_cleaver.res

[2021-06-05 03:30] Tiagoquix commented on #164
Also, I think the HUD's `README.md` should be updated to mention the new HUD options panel and the customizations folder.

[2021-06-05 03:31] CriticalFlaw commented on #165
It's not necessary as the game knows to use the Cleaver label when it is equipped.

![20210604233032_1](https://user-images.githubusercontent.com/6818236/120878822-eb609200-c58c-11eb-9c1f-9aef8dabed5b.jpg)

[2021-06-05 03:32] #165 closed, assigned to nobody

[2021-06-05 03:36] Tiagoquix opened #166 "Does this work?"
https://github.com/CriticalFlaw/flawhud/blob/master/resource/tools.res#L70

The letter "C" is in uppercase, so I'm asking just to be sure (I'm unable to test it now, that's why I'm asking).

[2021-06-05 04:01] CriticalFlaw commented on #164
Updated the Streamer Mode description on huds.tf. Thanks!

The README has become too bloated. Will need to look into moving some of that information elsewhere or simplify the text. But we won't need a ticket for that, I'll look into it later.

[2021-06-05 04:02] CriticalFlaw commented on #166
Yes, it works. Next time, please test to make sure there is actually an issue before creating a ticket.

[2021-06-05 04:02] #166 closed, assigned to nobody

[2021-06-05 04:39] #164 closed, assigned to nobody

[2021-06-05 08:42] h9lk opened #167 "Intersecting HUS elements 4:3 (part 3)"
decided test ur hud after updates, first thing noticed 1024x768 - incorrect display of rank and names of friends are overlaid on avatar
![20210605110207_1](https://user-images.githubusercontent.com/32390006/120885375-3e6c3080-c5f1-11eb-8486-7f2022cf65cb.jpg)

second thing that found out regularity of appearance such squares on pl maps. Tried reload hud and option to fix visual problems, but it did

[2021-06-05 14:04] CriticalFlaw commented on #167
Looks like your HUD installation got completely booked. Could you please clear out of/custom and downloaded a fresh copy?

[2021-06-05 17:47] h9lk commented on #167
did not think that hud in release is so different from version github, ok, will try to find again

[2021-06-05 19:03] #167 closed, assigned to nobody

[2021-06-08 12:54] Scoutman01 opened #168 "Missing mannpower supernova powerup charge meter"
In any mannpower map when you pick the supernova powerup :
![Mannpower_Mode_Powerup_Supernova_Icon](https://user-images.githubusercontent.com/50184129/121188033-fe16e780-c868-11eb-893e-db5fe9f4a9c3.png)
you have a charge meter controlled by : hudpowerupeffectmeter.res
![20210608144802_1](https://user-images.githubusercontent.com/50184129/121188180-256db480-c869-11eb-816a-c80603cb6493.jpg)

[2021-06-09 02:30] CriticalFlaw commented on #168
Fixed in 0deb950070c38f219543ecd576aabf51c8801d19. Thank you for reporting!

![20210608222842_1](https://user-images.githubusercontent.com/6818236/121283421-10187a80-c8a9-11eb-8c8c-75ab98ab57e3.jpg)

[2021-06-09 02:30] #168 closed, assigned to CriticalFlaw

[2021-06-27 15:41] Silexos opened #169 "Class order does not change on stats screen"
Hiya! I noticed that the stats screen will retain the same pattern regardless of the set stat in question (instead of going highest to lowest). This seems to go for every possible option on the menu from my testing.

![flawhud_stats_order](https://user-images.githubusercontent.com/85089160/123550620-3e101280-d723-11eb-906c-554bb737bf54.jpg)

[2021-06-30 20:32] ghost opened #170 "Home Server is not up to date"
Noticed I couldn't join the home server due to it being outdated, probably because of the Summer Update, so just thought I'd let u know! ( I did uninstall and reinstall the hud to make sure it wasn't me by the by lol )
![frownie face](https://user-images.githubusercontent.com/73834086/124026948-28ab1a80-d9a7-11eb-8342-f002875c6a99.png)

[2021-06-30 23:51] CriticalFlaw commented on #170
It's pointing to my server, which isn't being actively maintained. I'll update it right now, but users are typically advised to set their own home server in `flawhud/resource/gamemenu.res`.

[2021-07-01 00:08] CriticalFlaw commented on #170
Server has been updated. Thank you.

[2021-07-01 00:08] #170 closed, assigned to nobody

[2021-07-01 03:17] ghost commented on #170
Ohh, makes sense. Sorry for the confusion lol

[2021-07-01 10:07] #169 closed, assigned to CriticalFlaw

[2021-07-01 10:08] Silexos commented on #169
Never mind fixed with the latest version! Sorry for the inconvenience.

[2021-07-06 18:27] Tiagoquix opened #171 "Add an option/customization to hide sponsors of the main menu"
https://www.reddit.com/r/tf2/comments/oa35ry/i_use_flawhud_as_my_custom_hud_for_tf2_i_recently/

[2021-07-06 23:10] CriticalFlaw commented on #171
It has already been moved to the Stats page as of the latest version.

https://twitter.com/CriticalFlaw_/status/1409369119862951938?s=19

[2021-07-06 23:17] #171 closed, assigned to nobody

[2021-07-20 15:35] huupoke opened #174 "Missing badges of the players in the bottom of the scoreboard"
The bottom players of each team won't have their medals shown on the scoreboard.
I'm using 1600x900 monitor with 1600x900 resolution. It seems to be clipped off in this resolution, because when I opened the screenshot in the image editor, the bottom player's profile picture is only 30x28, while the other players' are 30x30.
FlawHUD v2021.0628

![Screenshot_2021-07-20_22-08-43](https://user-images.

[2021-07-28 02:58] CriticalFlaw commented on #174
This has been fixed in the latest version v2021.0727 (3a6db939a167941c244b4e64ea5c4995d0d79017). Thank you for reporting this!
![20210727204832_1](https://user-images.githubusercontent.com/6818236/127256567-f277c0e4-c8ee-4ec4-9c49-003d877ae2eb.jpg)

[2021-07-28 02:58] #174 closed, assigned to nobody

[2021-08-01 03:52] Tiagoquix opened #175 "Unable to select a class on the Class Selection screen."
Sometimes I can't select a class using the mouse cursor. It just happens sometimes. Weird.

[2021-08-02 10:36] chosenbill opened #176 "Full size MOTD not showing up properly"
Hello, this is an issue I noticed with many custom HUDs where `resource/ui/textwindowcustomserver.res` is not properly set or something then it becomes way too small or out of proportion.

Here is a fix, you can try it yourself it does not affect the normal MOTD the one that shows up when you first join a server and only the large one.

[code]

Looking into this would be helpful to many modern ser

[2021-08-12 01:51] CriticalFlaw opened #177 "Floating health value is cutoff"
Floating health value does not display values greater than a 1000. See file `flawhud/resource/ui/healthiconpanel.res`
Reported by meatloaf97 on Discord.
![image](https://user-images.githubusercontent.com/6818236/129126096-48405efa-b815-4735-a6d0-e89ed1dd53cc.png)

[2021-08-12 01:53] CriticalFlaw commented on #176
In this case it'd be better to just update `flawhud/resource/ui/textwindow.res` to expand the parts that are not displaying properly. `TextWindowCustomServer.res` inherits everything from `TextWindow.res` and I'd like to keep it that way.

[2021-08-12 02:07] CriticalFlaw opened #178 "Pickup counter is broken in Player Destruction Mode"
If the user enables the alternate HUD layout in the editor, the pickup counter will not display properly anymore.
Reported by SEFF on Discord.
![image](https://user-images.githubusercontent.com/6818236/129127500-24d2cbcf-8886-49c3-b75f-addef20769b5.png)

[2021-08-12 11:24] chosenbill commented on #176
Well, whatever would make it of a larger size would do. I think it should at least be as large as the vanilla one as that is that is how it is supposed to be. The one I put is almost full screen, by all means you are free not to use it I just gave it as a quick solution as some did take it. I'm looking forward to see your updated version.

[2021-08-16 02:54] CriticalFlaw opened #179 "Class limit text is overlapped on the class selection screen."
The class limit text is overlapped on the class selection screen. This is seen on servers that enforce class limits.

Reported by K0llerup on Discord.

![image](https://user-images.githubusercontent.com/6818236/129505329-41d04e7f-3cac-49ab-a65d-a579c470365b.png)

[2021-08-21 12:53] AgentArtemis opened #180 "Full Screen MOTD Button in HUD options"
A feature request I would really like is a button to enable or disable full screen MOTD's in the HUD options.

A lot of communities (Such as Creators.TF) use the MOTD, being able to full screen it would be very convenient.

![image](https://user-images.githubusercontent.com/71758866/130322376-dcd8a754-6887-4bde-83de-02a31ae488ce.png)

[2021-08-21 13:23] CriticalFlaw commented on #180
This has already been requested in https://github.com/CriticalFlaw/flawhud/issues/176 and will be addressed in the next update.

[2021-08-21 19:25] AgentArtemis commented on #180
Whoops didn't see that. Thank you.

[2021-08-21 19:25] #180 closed, assigned to CriticalFlaw

[2021-08-21 19:38] CriticalFlaw commented on #179
Fixed in https://github.com/CriticalFlaw/flawhud/commit/5d08e1892b9f54406de30b61800d50beb6bb03fe

![image](https://user-images.githubusercontent.com/6818236/130333136-782bb302-31ce-4f89-bb3c-2f1de872d085.png)

[2021-08-21 19:38] #179 closed, assigned to CriticalFlaw

[2021-08-21 19:38] CriticalFlaw commented on #175
Fixed in https://github.com/CriticalFlaw/flawhud/commit/5d08e1892b9f54406de30b61800d50beb6bb03fe

![image](https://user-images.githubusercontent.com/6818236/130333136-782bb302-31ce-4f89-bb3c-2f1de872d085.png)

[2021-08-21 19:38] #175 closed, assigned to CriticalFlaw

[2021-08-21 19:55] CriticalFlaw commented on #177
Fixed in 8aac24771eff50e91b538d43cf185dc0f77b13a8

[2021-08-21 19:55] #177 closed, assigned to CriticalFlaw

[2021-08-21 21:59] CriticalFlaw commented on #176
Updated in 4ffa827c9b863496a5a0c9794dc3903346e82697

[2021-08-21 21:59] #176 closed, assigned to CriticalFlaw

[2021-08-21 21:59] CriticalFlaw commented on #180
@AgentAlibi The MOTD and map info pages have been updated in 4ffa827c9b863496a5a0c9794dc3903346e82697

[2021-08-21 22:53] CriticalFlaw commented on #178
Fixed in 92b97a83464eaac10ce32c80241f46b3846f5bfb

[2021-08-21 22:53] #178 closed, assigned to CriticalFlaw

[2021-08-23 03:43] Tiagoquix opened #181 "Floating health is out of place"
![Screenshot_1](https://user-images.githubusercontent.com/30274161/130387111-b3514abf-ec65-455e-bbfd-6f3e78e78427.png)
![Screenshot_2](https://user-images.githubusercontent.com/30274161/130387116-bc8c9d05-2cfa-48f8-b276-50f0499ef3bc.png)
![Screenshot_3](https://user-images.githubusercontent.com/30274161/130387117-1c7f6592-2dda-44c2-b72d-ec8fd1588142.png)

[2021-09-01 03:53] CriticalFlaw commented on #181
Fixed in 8063a82509833820be765948886b3bbc0c985c0c

[2021-09-01 03:53] #181 closed, assigned to CriticalFlaw

[2021-09-01 16:14] CriticalFlaw opened #183 "Streamer Mode Update."
~~Multiple users have requested for an alternate approach to Streamer Mode whereas to not outright remove certain text. One such idea is to use a scrambled font file so that text can still be shown on screen but still not be "useful".~~ (484f2bdc28d7020b874a2e0afaa1f627277bd42b)

~~In Mann vs. Machine, the player lost while respawning still lists players.~~ (dd6fafe2a79de5c14dbcf1d6f04ac4cbcdf5300

[2021-09-28 02:36] #183 closed, assigned to CriticalFlaw

[2021-10-05 17:05] Tiagoquix opened #184 "What is the purpose of the null.wav file?"
https://github.com/CriticalFlaw/flawhud/commit/b9b0f73889bc91c7b771b79ae48dbb2e0d41d774

[2021-10-05 18:19] CriticalFlaw commented on #184
To suppress a console error that looks for that file.

Also, in the future - please ask questions in the support Discord server: https://discord.gg/hTdtK9vBhE
This issue tracker is meant for suggestions, bug reports or troubleshooting help.

[2021-10-05 18:31] Tiagoquix commented on #184
I don't think a HUD should mess with this, but that's okay.

[2021-10-05 18:31] #184 closed, assigned to nobody

[2021-10-07 01:20] N1GHT-090 opened #185 "Some issues/bugs/suggestions"
Hello, and thank you for the hud. I think it is one of nicest available. First sorry for such a long post. Im not a programmer but I like to tinker with hud files for fun and figured out most of this stuff with vgui_drawtree and trial and error. I didnt know if i should make seperate issuses for each thing, I didnt want to clutter up your issue tracker. I used the hud editor to apply some of the a

[2021-10-07 01:52] CriticalFlaw commented on #185
Thank you for your report. I've looked through what you have written and put my notes below.

You're right about the first issue, there's a duplicate line for `AmmoInClip` in place of `AmmoNoClip`. You're welcome to submit a pull request fixing this (and other) issues - if you're not sure how to, you can let me know then I'll fix them and credit you for reporting them.

The placement of the voice

[2021-10-07 02:44] N1GHT-090 commented on #185
Thanks for the reply. I don't know how to submit fixes or pull requests so you can do that. Like I said I am not a programmer just a tinkerer. Ive been fixing some of this on my own version but felt I should probably just make a github account and let you know about the stuff that seemed to be actually broken and not just my preference. Also I was worried someone else was encountering it and didn'

[2021-10-07 03:35] CriticalFlaw commented on #185
Fixed the noted issues ec48e693c9317d89aa7c28414a66abd5f07ac73b and updated the editor schema in https://github.com/CriticalFlaw/TF2HUD.Editor/commit/1e98fc147b3602dbb036c79607186c7d70f3fffd to fix the placement of the voice indicator along with few other elements when the Alternate layout style is enabled. Thank you again for reporting these issues.

[2021-10-07 03:35] #185 closed, assigned to CriticalFlaw

[2021-10-19 08:54] Tiagoquix opened #192 "Remove RED/BLU view option in Loadout screen"
Reasons to remove it:

- Does not work while connected to a server, since it requires `sv_cheats 1`.
- Botkillers do not work properly when viewing with the BLU skin.
- Skins do not change their colors.
- Team colored items (like items with the Team Spirit paint) do not change their color.

Screenshots comparing the normal versus the bugged version:

**Normal (Spy) - Weapon Skin**
![image](https:/

[2021-10-24 22:50] Silexos opened #193 "Uneven low/overheal boxes"
I apologize since this is likely the most nitpicky bug I've found yet, but the two boxes indicating health and ammo aren't quite the same value. I remember editing it to be correct before but I unfortunately forgot what .res file I edited when swapping over to the most recent version.

![uneven_boxes](https://user-images.githubusercontent.com/85089160/138616077-0b0930cd-3e83-4342-9d6e-de998875b43a

[2021-10-24 22:57] Silexos opened #194 "Request: Menu Color Schemes"
I was wondering if potentially the option to change primary colors in the menus could be added to the hud editor at some point. By this I mean changing the color accent from the dark green found in various parts of the menus (i.e. class loadouts and the motd menu) to something like orange or purple.

[2021-10-24 23:11] CriticalFlaw commented on #194
Those can be changed in `flawhud/resource/ui/scheme/clientscheme_colors.res` as most of the reused colors are defined there. Thing is that I didn't make flawhud with one color theme in mind (like rayshud has cyan), so while I could offer the option - it may not be clear to some users as so its intended purpose.

[2021-10-24 23:37] CriticalFlaw commented on #193
This should fix the issue. Could you verify it, please? https://github.com/CriticalFlaw/flawhud/commit/8dd6f63a5704c85833242ba8645aba5a05d30519

[2021-10-25 00:54] Silexos commented on #193
Alrighty it's even now, thank you so much!

[2021-10-25 01:31] Silexos commented on #193
Heya I reopened the issue because the right box is now off center from the numerical values for ammo.

![offcentered](https://user-images.githubusercontent.com/85089160/138621925-55b253e8-c74b-4ac3-a0fb-c3ba1afe7eeb.jpg)

[2021-10-25 02:01] CriticalFlaw commented on #193
The value of AmmoNoClip just needs to be extended then, hang on.

[2021-10-25 02:02] CriticalFlaw commented on #193
Done. Should be good to go

[2021-10-25 02:22] Silexos commented on #193
The boxes are all good! An interesting thing I found when testing the fix was that the shadows for weapons without reserve ammo are now to the left of the numerical value rather than the right. It should be noted that any weapon with reserve ammo works just fine.

![20211024191907_1](https://user-images.githubusercontent.com/85089160/138625267-7fa57944-c2f2-412a-b56f-c74e8dbf015b.jpg)

![202110241

[2021-10-25 02:28] CriticalFlaw commented on #193
That's my bad. I forgot to change the width of the shadow as well to fix the bigger box. Fixed now.

[2021-10-25 02:36] Silexos commented on #193
Alrighty everything's working. Again thank you so much for the help!

[2021-10-25 02:36] #193 closed, assigned to CriticalFlaw

[2021-10-25 02:40] gemsticks opened #195 "Ubercharge Placement"
Will there ever be an option to either put the ubercharge meter in the center, or the bottom right?

[2021-10-26 15:01] Tiagoquix opened #196 "Adjust coaching interface"
![image](https://user-images.githubusercontent.com/30274161/138906140-63b7edfc-b1e3-44ae-84ef-e466c0ed1342.png)

The interface is good as it is now, but could you please adjust the health so it appears below the student's profile picture?
Thanks.

[2021-10-26 15:04] Tiagoquix commented on #196
Also, is there a way to remove the default crosshair from this interface?

[2021-10-26 16:59] CriticalFlaw commented on #196
I hadn't even thought to check this interface in a long time. Looks like a simple enough change though.

You have to disable that in the game options.

[2021-10-26 17:00] CriticalFlaw commented on #195
I don't think so because the UberCharge meter is one of the few that majority of medic's want to see near the center.

[2021-10-26 17:01] CriticalFlaw commented on #192
I understand that this feature is buggy, but it's also very popular with the user base. But if that changes and enough people request it to be removed for the reasons you've given then I'll remove them.

[2021-10-26 23:15] Tiagoquix commented on #196
Yes but, I mean, I am not using a custom HUD crosshair. I am using a cyan dot, which is `cl_crosshair_file crosshair3` from the game itself. Even so, the default crosshair (`cl_crosshair_file default`) still appears together with my personal crosshair.

https://www.reddit.com/r/tf2scripthelp/wiki/crosshairs/

I think this might be hard-coded into the game itself, or maybe a change in some .res fil

[2021-10-26 23:33] CriticalFlaw commented on #196
I know what you meant. If the options menu didn't work for you then you can try putting `cl_crosshair_scale 0` into console.

![image](https://user-images.githubusercontent.com/6818236/138975645-f37df3d9-472b-4aaf-a810-2f01749041a6.png)

[2021-10-27 01:55] Tiagoquix commented on #196
All crosshair commands would control my personal cyan dot crosshair, and not the coaching crosshair itself.

I found this file: [Resource/UI/SpectatorCoach.res](https://pastebin.com/raw/KSbFii2T)

I can't test it now, but I think that if we set "visible" and "enabled" to 0 in "Crosshair" the problem would be solved.
Also, "HealthPositioning" should be what we are looking for.

[2021-10-27 06:51] gemsticks commented on #195
Ah, thanks!

[2021-10-27 06:51] #195 closed, assigned to nobody

[2021-11-27 18:38] #194 closed, assigned to nobody

[2021-11-28 00:40] CriticalFlaw commented on #196
Fixed in ba096461864001917ccca12ecb78e59c8e9a6889

[2021-11-28 00:40] #196 closed, assigned to CriticalFlaw

[2021-12-01 04:10] CriticalFlaw commented on #192
Closing due to lack of response in support of removing this feature. Will reopen for discussion if that changes.

[2021-12-01 04:10] #192 closed, assigned to nobody

[2021-12-03 12:56] Blueberryy commented on #69
You can use **chat_english.txt** for custom localization texts

[2021-12-03 12:56] Blueberryy commented on #69
@CriticalFlaw

[2021-12-04 18:01] DimitriDR opened #199 "Engineer stuff icons weird"
Hello,

I have some kind of glitch with the v2021.1202. A picture will be more telling.

![Capture d’écran 2021-12-04 190107](https://user-images.githubusercontent.com/56969769/144719780-c1a3833c-35b9-4ef8-8986-995bb8a68443.png)

Thank you!

[2021-12-05 04:15] CriticalFlaw commented on #199
Does `hud_reloadscheme` fix the problem?

[2021-12-05 10:54] DimitriDR commented on #199
It did add something but definitely not what I expected.

![Capture d’écran 2021-12-05 115221](https://user-images.githubusercontent.com/56969769/144743561-27b000f5-cfe0-4ebf-b49c-14565d8b9457.png)

I saw an error in the console too (before doing the command, so idk):

[code]

[2021-12-05 16:00] CriticalFlaw commented on #199
Those console errors are unrelated. Could you post your `flawhud/resource/UI/hud_obj_sentrtgun.res` file here, please?

[2021-12-05 16:10] DimitriDR commented on #199
Can't transfer via GH. Link: https://we.tl/t-PjOZl4DRSF

[2021-12-05 16:13] CriticalFlaw commented on #199
Found the issue. The version uploaded to huds.tf had an in-development version of that file which wasn't meant to be released. I've reuploaded the correct version to huds.tf so you should not have a problem if you reinstall. Apologies for the inconvenience.

[2021-12-05 16:21] DimitriDR commented on #199
Yeap, it works perfectly! I close the issue as the problem is solved 😄

[2021-12-05 16:21] #199 closed, assigned to nobody

[2021-12-12 00:58] Silexos opened #200 "Community Server List Font"
Heya found this small bug(?) with the latest release. The font in the community server list is the TF2 secondary font rather than the traditional one found in other Valve games. This happens even when the hud is customized for Code Pro fonts (as seen in the screenshot).

![20211211165416_1](https://user-images.githubusercontent.com/85089160/145696531-b2997190-54b4-4e8d-a5c8-a78e7a3ef4de.jpg)

Afte

[2021-12-12 04:45] CriticalFlaw commented on #200
As part of f7fd21fdc118aa45744ea36c1a4f1dba34444cc9 I decided to remove the Source Font change. Two main reasons:

1. It would be difficult for me to offer multiple variants to match Code Pro.
2. After using it for a few days, it's been hard to see for me and few other people who have complained to me about it.

[2021-12-12 04:45] #200 closed, assigned to nobody

[2021-12-18 03:31] pikasalt opened #202 "Loadout class icons not rendering properly on linux"
Class icons on the loadout screen use the incorrect icons when used on linux. Behavior works fine when the game is ran under proton/wine.
![20211217212842_1](https://user-images.githubusercontent.com/52518103/146627511-7a1e688b-7b30-42b9-a800-4413bd0f3fce.jpg)

[2021-12-18 03:37] CriticalFlaw commented on #202
Check that you don't have a font of the same name installed on Linux. Font issues like these are usually caused by a conflict.

[2021-12-18 03:47] pikasalt commented on #202
I don't have the font installed, so that seems to complicate things here. Is there anything else that I could provide to help diagnose this issue?

[2021-12-18 03:48] CriticalFlaw commented on #202
Maybe installing the font 😁

[2021-12-18 03:53] pikasalt commented on #202
Tried installing the font, but the problem still persists :disappointed:

[2021-12-18 04:24] pikasalt commented on #202
What file is responsible is responsible for the this panel? I'm thinking this could be related to a formatting error like #16, where some things failed to load based on capitalization.

[2021-12-18 05:59] CriticalFlaw commented on #202
Try changing the names of fonts in `flawhud/resource/UI/fonts` to lowercase then make sure the font references in `flawhud/resource/UI/scheme/clientscheme_icons.res` and fonts.res to also lowercase. The font references will be found at the bottom of the file.

[2021-12-18 06:20] pikasalt commented on #202
Still no dice. What's weird about this is that every other icon is working except those on the class loadout panel. Also trying to figure out why the icons work for pyro, heavy, and spy but not the other classes.

[2021-12-28 03:19] CriticalFlaw opened #203 "Add chat_english.txt"

[2022-01-10 02:44] Silexos opened #204 "Comp. Ready-Up Covers Players"
The comp mode ready-up menu covers up the player list at the top of the screen. The prompt to change the team name is still in the old spot however prior to the bug.

Old:
![20211211183551_1](https://user-images.githubusercontent.com/85089160/148712733-3fb5a746-83a3-4bc0-a9bc-ef98b81bacc5.jpg)

Current:
![20211218173957_1](https://user-images.githubusercontent.com/85089160/148712742-efb95d54-14d9-

[2022-01-10 03:35] CriticalFlaw commented on #204
Fixed in ee7b2e4bc2ec852d7bd9fb02890bf7d95f45386d. Also cleaned up the file and repinned all the elements so it's easier to maintain in the future. Thank you for reporting this.

[2022-01-10 03:35] #204 closed, assigned to nobody

[2022-01-23 05:55] CriticalFlaw commented on #203
Added in https://github.com/CriticalFlaw/flawhud/commit/f4f2257d82c68f2aadd7493e617b85d04ca39319

[2022-01-23 05:55] #203 closed, assigned to CriticalFlaw

[2022-01-26 15:55] shaiico opened #205 "Achievement tracker blocks chat or building status when using alternate hud/lowered chatbox"
I've noticed that the achievement tracker UI sits underneath the chat when the lower chat option is selected with the TF2 HUD editor program. Additionally, the building health status is affected as engineer. This obviously makes it difficult to track achievement progress, so I propose adjusting the tracker position when the chatbox position is modified. A simple modification of the `hudlayout.res`

[2022-01-26 16:18] shaiico opened #206 "Engineer metal status blocks chat when using alternate hud/lowered chatbox"
When using the alternate hud and lowered chatbox, the engineer metal status blocks some of the chat, which makes it difficult to read. This can be remedied by modifying the `hudaccountpanel.res` file and adjusting the metal status y-position.

**Current build:**

![Current Build](https://i.imgur.com/0hG8Rbp.png)

**Proposed fix:**

![Proposed Fix](https://i.imgur.com/nry7Ql7.png)

[code]
[code]
[c

[2022-01-26 16:37] shaiico opened #207 "Health value cutoff when using specific editor options."
![Current Build](https://i.imgur.com/UbjGnHP.png)

[2022-01-27 03:45] CriticalFlaw commented on #202
In the `flawhud/resource/fonts/TF2Icons.ttf` file the class icons occupy characters 1-9, I've moved them around to see if that makes a difference. The change is in a separate branch so if you or anyone with a similar setup could test it and check if it works, that'd be great.

https://github.com/CriticalFlaw/flawhud/tree/%23202

[2022-01-27 04:21] CriticalFlaw commented on #207
Is this happening on the vanilla version or a version modified via the editor? If so, which setting do you have selected?

[2022-01-27 04:33] CriticalFlaw commented on #206
Similar to https://github.com/CriticalFlaw/flawhud/issues/205 the issue is caused by the "Lower In-Game Chat" option in the editor takes priority over other customization options that also move the chat. The solution would be to have the position of the achievement tracker, building, metal and chat be controlled by the lower in game chat option instead of HUD Layout.

You can probably close #205 i

[2022-01-27 04:50] #205 closed, assigned to CriticalFlaw

[2022-01-27 04:56] shaiico commented on #207
Modified via the editor. May be worth mentioning that I have no other mods/configs of any kind.

![Custom](https://i.imgur.com/KEwjL5N.png)

[2022-01-27 05:02] shaiico commented on #206
Thanks for the suggestion. I closed #205. That sounds like a better solution. I assumed that by ticking the lower in game chat option, it was making a modification to the hud layout file, hence my idea.

[2022-01-27 05:16] CriticalFlaw commented on #206
You're correct. Because both options modify hudlayout for their needs, only the latter option's changes will actually take effect overwriting what came before it.

Therefore elements on the left side of the screen where regardless of the chat and hud layout option selected, it will always look good. I'll look more into that in these coming days.

[2022-02-06 19:08] Shivansh-yadav13 opened #210 "Kill Feed Killstreak number"
it doesn't look good

![Inkedcopy Screenshot (37)_LI](https://user-images.githubusercontent.com/87603425/152696569-ff1462a8-308e-4224-aac8-e061d2c97ef7.jpg)

is this bcoz of the font?
do we have font options I have installed it recently btw.

[2022-02-09 12:06] Tiagoquix opened #212 "--- Missing Vgui material vgui/..\vgui\maps\menu_thumb_Missing"
This error still appears on the console, even with the fix implemented by the HUD.

[2022-02-09 12:08] Tiagoquix commented on #212
Maybe you should implement a .VTF file too?

[And, I don't know, but in the .VMT file it points out to a file inside replay/thumbnails.](https://raw.githubusercontent.com/CriticalFlaw/flawhud/master/materials/vgui/maps/menu_thumb_Missing.vmt)

`"$baseTexture" "vgui/replay/thumbnails/menu_thumb_Missing"`

 That could be the problem.

[2022-02-09 13:57] CriticalFlaw commented on #212
Have you tested this to confirm that it fixes the problem?

[2022-02-09 13:59] Tiagoquix commented on #212
No, I just tried to deduce what the root of the problem is. I will test and post results later.

[2022-02-09 14:23] Tiagoquix commented on #212
I tested by removing the menu_thumb_Missing.vtf from the replay/thumbnails folder and then adding an empty menu_thumb_Missing.vtf in vgui/maps, and also replacing the $baseTexture with the corresponding folder/place, but no success either. I think the problem is with the TF2 code itself, since the console logs: "Missing Vgui material vgui/..\vgui\maps\menu_thumb_Missing", so the code must be point

[2022-02-09 14:32] CriticalFlaw commented on #212
Agreed. No point in keeping it if it does not address the issue. Good to let valve know about it or see if team comtress has this fixed

[2022-02-14 02:59] Tiagoquix opened #213 "Add a license"
Licenses are important. You should have one.

Read here about what happens when you don't have a license: https://choosealicense.com/no-permission/

I recommend the MIT License. You can read more about the other licenses here: https://choosealicense.com/licenses/

[2022-02-14 04:27] Tiagoquix opened #215 "Suggestions"
Hello. I have some suggestions for things I think should be included in FlawHUD. I know how to do them all, I am just saying talking about them here because first I want to know what is your opinion about them, @CriticalFlaw. If you approve any of them, I will send a pull request accordingly.

1. In `resource/ui/importfiledialog.res`, FlawHUD uses `: Start Time` instead of the default `Start Time:

[2022-02-20 04:14] CriticalFlaw commented on #202
Closing due to lack of response.

[2022-02-20 04:14] #202 closed, assigned to CriticalFlaw

[2022-02-20 04:28] CriticalFlaw commented on #212
Removed in ce71df051e9073956cad823a5ea7548219091eb9

[2022-02-20 04:28] #212 closed, assigned to nobody

[2022-02-20 04:33] CriticalFlaw commented on #213
Normally I'd agree but because this HUD is not a piece of software in a traditional sense, I don't really see the point or reason of adding a license. If someone takes this project and modifies or redistributes it elsewhere without permission or credit, I don't really care nor do I have the time to chase them down.

flawhud has been around for long enough that people within the community would cat

[2022-02-20 04:33] #213 closed, assigned to nobody

[2022-02-20 21:09] #215 closed, assigned to nobody

[2022-02-20 21:56] CriticalFlaw commented on #207
I have not been able to reproduce this issue with the editor and the options shown. Could be a file conflict or caused by manually updating files. Does it work if you reinstall flawhud via the editor and reapply all the options?

[2022-02-20 22:27] CriticalFlaw commented on #206
Fixed in https://github.com/CriticalFlaw/TF2HUD.Editor/commit/d03a730abf57629653ae7cb6fea793b34cdc6c87. The metal counter is now going to be above the ammo while the lower-chat option swaps achievement tracker and chat positions. Regardless of the which options you choose it should look good without any overlaps.

[2022-02-20 22:27] #206 closed, assigned to CriticalFlaw

[2022-02-20 22:35] CriticalFlaw commented on #210
This is because the font is so thin and there's no allocated spacing between it and the arrow. Unfortunately there's no option in the .res files to create the separation so this issue cannot be fixed.

[2022-02-20 22:35] #210 closed, assigned to nobody

[2022-02-26 08:16] Tiagoquix opened #219 "Closed captions not being properly shown"
Tested the last update and here are the results: https://imgur.com/a/dxvz52z

A severe amount of strings in PT-BR got even worse, because since the "wide" has been increased to a very large value in hudlayout.res, the strings basically try to fit into a single line, but they fail.

Interestingly enough, even in English I found a collision error: https://i.imgur.com/yv25Hyp.png

FYI, I'm using the

[2022-02-26 08:18] Tiagoquix commented on #219
The third solution would be a nuke option: delete the PT-BR translations of the Closed Captions and just keep the English ones, but it would be kind of sad to do that.

[2022-02-26 15:59] CriticalFlaw commented on #219
Updated in 613b40e9a85d90db8d434fc28fbf301214fc8884

[2022-02-26 15:59] #219 closed, assigned to nobody

[2022-03-15 20:54] YellowInkling opened #221 "Broken localization text."
Hi I'm noticed that most of the text is broken in this hud.
![image](https://user-images.githubusercontent.com/74347915/158470726-46f47836-2223-4d04-b689-787f633a556f.png)
![image](https://user-images.githubusercontent.com/74347915/158470750-9faab5b1-91d1-4431-bd58-861a4be04264.png)
![image](https://user-images.githubusercontent.com/74347915/158470783-f34c51ec-c2b4-4b72-99aa-5ee68d90c39a.png)

[2022-03-15 21:03] CriticalFlaw commented on #221
Is this happening on a clean install with the latest version from GitHub?

Also, are you trying to play the game in English or some other language?

[2022-03-15 21:45] YellowInkling commented on #221
I installed it using the TF2 Hud editor

And I am trying to play the game in English

[2022-03-16 02:07] CriticalFlaw commented on #221
Try clicking **Uninstall** in the editor, then **Install** again. I've added some language files in d855fe193d430b734e232a55a6b726434920f410 so hopefully the issue is resolved.

[2022-03-16 02:24] YellowInkling commented on #221
I tried that as well as downloading it from Github but it still didn't work

[2022-03-16 03:27] CriticalFlaw commented on #221
Odd. What other mods do you have in your tf/custom folder?

[2022-03-16 04:18] YellowInkling commented on #221
Mastercomfig and Hitsounds. I tried the hud without the mods but that still didn't work

[2022-03-16 04:26] CriticalFlaw commented on #221
Is there a chat_english.txt file in `tf/custom/flawhud/resource`?

[2022-03-16 04:31] YellowInkling commented on #221
Yes

[2022-03-16 13:09] CriticalFlaw commented on #221
Not sure what else to suggest. It's working fine on my side.

Any suggestions @Tiagoquix ?

[2022-03-16 16:26] Tiagoquix commented on #221
He/she is probably using another mod that modifies the chat_english.txt file.

[2022-03-16 16:33] Tiagoquix commented on #221
It works fine on my side too. The problem is something in his/her game.

[2022-03-16 16:37] Tiagoquix commented on #221
@YellowInkling Try this: https://help.steampowered.com/en/faqs/view/0C48-FCBD-DA71-93EB

[2022-03-16 16:37] CriticalFlaw commented on #221
Hmm try removing all other mods and test again. Though you did say you only have mastercomfig and hitsounds

[2022-04-02 02:38] CriticalFlaw commented on #207
Closing due to lack of response and not being able to reproduce the issue.

[2022-04-02 02:38] #207 closed, assigned to CriticalFlaw

[2022-04-07 23:21] Tiagoquix opened #223 "Backpack strings in Brazilian Portuguese"
Could you slightly increase the size so that the string "Show stock items" ("Exibir itens padrão") doesn't get cut off?

Also, could you slightly increase the size so that the string "Show Marketable Borders Only" ("Bordas em itens comercializáveis") doesn't get cut off?

Don't worry about the first string "Sem bordas da cor [...]" being cut off, as it will change whenever TF2 updates the localiza

[2022-04-20 20:13] Green318 opened #224 "Crosshair issues"
I am using your hud editor and it would stay as a small "+" no matter what i did.  could you help me fix this issue please

[2022-04-22 14:23] Tiagoquix commented on #224
https://github.com/CriticalFlaw/flawhud#crosshair

[2022-04-23 07:39] Maurvick opened #226 "Snowplow, Train health collides with meters"
![20220422210008_1](https://user-images.githubusercontent.com/82706197/164885186-c8793484-1198-4d9b-8247-408d7bb81c6e.jpg)

[2022-04-23 13:30] CriticalFlaw commented on #226
The train image is tied to the map so unless I move all elements for a single map, there's nothing to be done.

[2022-04-23 13:30] #226 closed, assigned to nobody

[2022-04-24 01:06] #221 closed, assigned to CriticalFlaw

[2022-04-24 01:22] CriticalFlaw commented on #224
Make sure you're using the latest version of the editor and flawhud as there may be an incompatability issue. If that doesn't work, try to manually set the crosshair you want as instructed in the README linked above. Let me know if that resolves your issue.

[2022-04-24 01:47] CriticalFlaw commented on #223
Expanding the dropdowns to accommodate Brazilian would mean I have to then expand it further for other languages, which is impractical and would require redesigning the page further. I think most users will still be able to read the text even if truncated, much like how it is in Russian in a lot of parts throughout the hud.

The checkbox already uses the most of its allotted space, width wise. I t

[2022-04-24 01:47] #223 closed, assigned to nobody

[2022-05-04 17:00] #224 closed, assigned to nobody

[2022-06-10 10:32] chelIey opened #229 "Revert changes to mode selection"
the mode selection tab in the newest TF2 HUD editor version seems to be bugged.
https://ibb.co/pKK4qzF <- last version from github
https://ibb.co/R6YcwDY < - newest HUD editor ver
the buttons and the images are all swapped around, although it seems that the buttons function as the text indicates

unless this is some kind of joke about how casual is bot infested, but I don't really appreciate that

[2022-06-16 20:22] MysticalUser opened #230 "Creators.tf button not working"
Creators.tf no longer has servers at https://creators.tf/servers. It's main menu button should be removed/replaced.

[2022-06-18 04:11] CriticalFlaw commented on #230
Replaced the CreatorsTF button with PotatoTF: 4e3effa8f5ddc287ce7894f5b374f745193ec47a

[2022-06-18 04:11] #230 closed, assigned to CriticalFlaw

[2022-06-23 03:21] CriticalFlaw commented on #229
The change was intentional because Casual was/is unplayable in its current state, so it made little sense to make it the most prominent game mode option. In any case, I've had my fun and reverted it back to the way it was: f92c8a27c1ae86fc179652259b1437d78abb067d

Remember to support your community servers.

[2022-06-23 03:21] #229 closed, assigned to CriticalFlaw

[2022-07-29 19:57] ghost opened #231 "[Feature Request] Add 'Reload Hud' to the Sidebar Pins"
It would be convenient to skip one extra button press and reload instantly. Much more useful than the Favorite Server pin, too.

![Mockup wawawa](https://user-images.githubusercontent.com/73834086/181833455-c24ac4d7-df94-4581-ae85-5f976ad5cfb7.png)

Here's a quick mock-up to show what I mean. Thanks for making a sweet hud :)

[2022-07-30 02:28] CriticalFlaw commented on #231
Added in 3df7511a83b495b3f569c097ac0c657434d5c5f2. Thank you for the suggestion.

![image](https://user-images.githubusercontent.com/6818236/181866738-9808b6b0-be56-40a3-ae54-7a3095b057ca.png)

[2022-07-30 02:28] #231 closed, assigned to nobody

[2022-07-30 02:28] CriticalFlaw commented on #231
Fantastic choice of background btw.

[2022-07-30 05:11] ghost commented on #231
Thank you!! Snagged it from [this mod](https://gamebanana.com/mods/346727) and threw it in Krita. Here it is if you want it :)

![background_mvm_widescreenfddfdsdsgj](https://user-images.githubusercontent.com/73834086/181875670-f7646eb6-5d5d-4122-a2a7-7852589aa392.png)

[2022-08-14 13:00] Oldcustard opened #233 "Team Score Panel overlaps time panel"
When enabling the team score panel (for use with casting essentials), the labels overlap the time panel like shown below.

![image](https://user-images.githubusercontent.com/5745583/184538046-b6577c32-be44-4f29-8361-1c737c57c7d7.png)

Using v2022.0401

[2022-08-14 15:08] CriticalFlaw commented on #233
Fixed in 9414bf5c946f97468203a5fdd48e67a15626dee7, please retest and let me know if it works.

[2022-08-15 09:38] Oldcustard opened #234 "Medigun info panels are positioned incorrectly"
The medigun info panels are incorrectly positioned when using the latest master.
![image](https://user-images.githubusercontent.com/5745583/184612663-ce198f2d-9ec7-4d0c-a8fc-9d3ce54f21c8.png)

On this note - what is the reasoning for this change? Would it be possible to have a configuration option that keeps the red team on the right side of the screen?

[2022-08-15 09:39] Oldcustard commented on #233
Seems to be fixed. Thank you. However, when updating to the latest, I noticed another issue #234.

[2022-08-15 09:39] #233 closed, assigned to CriticalFlaw

[2022-08-15 14:07] CriticalFlaw commented on #234
Oh, I forgot about those - will update them shortly.

The reason for the update is that the position of the red player panels is relative to your screen size. So if you used a resolution other than 1920x1080 then the panels would be shown offscreen. This change also makes it easier for me to manage them in the future.

[2022-08-17 01:40] CriticalFlaw commented on #234
Fixed in 643e6d5761ca3e3f69256e62869cab11d06e7279

[2022-08-17 01:40] #234 closed, assigned to CriticalFlaw

[2022-08-18 21:40] mikehawk443 opened #235 "tf2 logo is a missing texture during matches"

[2022-08-18 21:41] #235 closed, assigned to nobody

[2022-08-18 21:50] mikehawk443 opened #236 "TF2 logo not displaying in sv_pure servers"
![Zrzut ekranu (679)](https://user-images.githubusercontent.com/111538982/185501366-d87c3751-d98d-4f80-b6cb-63dfc4604307.png)

[2022-08-18 21:55] CriticalFlaw commented on #236
I forgot that new materials need to be preloaded to display in sv_pure servers. I'll correct that today.
FYI @Metisz

[2022-08-19 01:02] CriticalFlaw commented on #236
Fixed in 66baaed6a44424b3b7438254aac99991e19c562a

[2022-08-19 01:02] #236 closed, assigned to CriticalFlaw

[2022-08-23 12:10] Oldcustard opened #237 "Overtime label is cut-off"
As shown below

![image](https://user-images.githubusercontent.com/5745583/186154538-b03395e2-b0d1-4932-9079-67e7e1e5ae79.png)

[2022-08-26 02:00] #237 closed, assigned to CriticalFlaw

[2022-08-28 20:46] nifte opened #238 "Black bars on item skins in 1440p"
In 1440p resolution, any item in the loadout menu with a skin on it seems to shrink and leave a black bar below its image. I've attached some screenshots with examples.

![screenshot](https://user-images.githubusercontent.com/9247037/187093812-b2eba70b-6854-4a84-a8b2-71c017fa5225.png)
![screenshot2](https://user-images.githubusercontent.com/9247037/187093813-c11927a3-92f2-43a4-bea2-c5ce2c9a844d.pn

[2022-09-01 15:19] soot716 opened #239 "Sometimes the red square around the Health Icon when you're on low health stays there after you respawn with full health"
I'll try finding an instance of it happening soon.

[2022-09-01 17:15] Metisz commented on #239
I believe that's a **game bug**, not really fixable for any HUD
![image](https://user-images.githubusercontent.com/47070328/187972289-30d3538f-f5ac-41e5-852f-60f92a4c03be.png)
If you don't want to do the `hud_reloadscheme` thing these have been working for me:
- being overhealed for a moment
- using the GRU on Heavy (or anything that reduces his max HP temporarily)

[2022-09-02 15:22] soot716 commented on #239
Thank you for the reply, and for the fixes. I really thought it was a bug with the HUD, sorry for the false alarm.

[2022-09-02 15:22] #239 closed, assigned to nobody

[2022-09-11 11:56] Onyx997 opened #240 "When I turn on streamer mode some of the text is changed into the menu icons"
![image](https://user-images.githubusercontent.com/95724916/189526201-81adf1e0-b530-4bb4-b235-6b047704a75d.png)
Heres the image when I turned on streamer mode

[2022-09-11 12:04] CriticalFlaw commented on #240
That's the point of streamer mode. To hide all player names. That's not a bug with this feature.

[2022-09-11 12:23] Onyx997 commented on #240
Oh alright

[2022-09-11 12:28] #240 closed, assigned to nobody

[2022-09-29 03:36] Oh-My-Lands opened #241 "Sometimes player health does not turn green when overhealing them."
When overhealing a player I expect their health to turn green, and usually it does turn green. But sometimes their health stays white even when they are overhealed.
![normal overheal](https://user-images.githubusercontent.com/114635931/192932882-e3d4cf20-53bd-40c8-bc9e-4d3646b3f9f5.png)
![not normal overheal](https://user-images.githubusercontent.com/114635931/192932895-f97d6736-36f5-4bf2-8364-649

[2022-10-13 16:57] nigiriemoji opened #243 "Spectator text on scoreboard cut off on 2560x1440p display"
Hi, my spectator text on the scoreboard is cut off at the bottom. I play on a 2560x1440p monitor.

Also, is there a way to have the scoreboard show 16 players per team instead of just 12 max?

![20221011193146_1](https://user-images.githubusercontent.com/53108354/195658627-624dbf1f-241d-4ac2-a26c-f1a286981149.jpg)

[2022-10-14 00:37] Tiagoquix opened #244 "Low visibility of timers panel backgrounds"
![image](https://user-images.githubusercontent.com/30274161/195735931-5013ec2b-8946-4f69-a1b5-15a6b4e2a536.png)

When not using the match HUD, the timers at the top of the screen are very similar when it comes to their backgrounds' black tone. Could you change them to make them stand out more from each other?

Thanks in advance.

[2022-10-14 01:39] CriticalFlaw opened #245 "Steam Deck Enhancements"
List of stuff that need to be changed or fixed when playing with a controller or on the Steam Deck.

- [x] The class selection screen still uses the old style.
- [x] Certain buttons don't display the correct controller glyph, only the A button seems to display.
- [x] Font icons appear larger than they supposed to on lower resolutions.

[2022-10-17 19:38] MINIX32 commented on #241
Also when respawning your health sometimes stays red

[2022-10-17 21:13] CriticalFlaw commented on #241
That's a known game bug. There's no fix for it.

[2022-10-20 03:42] CriticalFlaw opened #248 "Improve team-color consistency"
Various parts throughout the HUD use slightly different or RGBA team color codes instead of having one set of BLU/RED team colors to be used throughout.

[2022-10-20 16:14] CriticalFlaw commented on #241
I think this usually occurs when you start healing a player who is already buffed. The way animation works, the value probably has to already be visible to turn green.

Since this is an intermittent issue that's not reflected in https://github.com/CriticalFlaw/flawhud/blob/master/scripts/hudanimations_custom.txt#L2 I doubt this is something that be fixed on my end.

[2022-10-20 23:11] Oh-My-Lands commented on #241
I have some examples where the player healed is unbuffed with health visible for a bit before I heal them and their health turns white.

ok. Thanks for looking into it anyways :) I love your HUD.

[2022-10-21 00:30] #243 closed, assigned to CriticalFlaw

[2022-10-21 00:30] CriticalFlaw commented on #243
Fixed in b140383cf116851dcc9cf0ee49d1a19951c78222. Thank you for reporting the issue.

[2022-10-21 00:54] CriticalFlaw commented on #248
Added in 105d302beb6536f7cb005c411bfa888781659c1f

[2022-10-21 00:54] #248 closed, assigned to CriticalFlaw

[2022-10-21 00:54] CriticalFlaw commented on #245
Changes are being tracked on the `flaw` branch: https://github.com/CriticalFlaw/flawhud/tree/flaw

[2022-10-21 01:00] #244 closed, assigned to CriticalFlaw

[2022-10-21 01:02] CriticalFlaw commented on #241
I'll maintain that this is a game bug related to animations. The way they are set up right now, the health color has to change when the player is buffed. The only thing I can think of is that the animation event `HudHealthBonusPulse` does not get triggered when it is supposed to, causing this bug.

I'm going to close the ticket as this is a game bug, but I will keep an eye on this in case there's

[2022-10-21 01:03] #241 closed, assigned to CriticalFlaw

[2022-10-21 02:29] #238 closed, assigned to CriticalFlaw

[2022-10-21 02:31] CriticalFlaw commented on #238
Potentially fixed in e30abe814056d7b50e4810d4e9dc0c7d466bb586. Please test it out and let me know how it is.

[2022-10-22 18:26] CriticalFlaw commented on #245
Tracked in #249

[2022-10-22 18:26] #245 closed, assigned to CriticalFlaw

[2022-10-24 00:44] Tiagoquix opened #250 "Feature request: hide "equipped" in loadout item selection screen"
![image](https://user-images.githubusercontent.com/30274161/197426995-ab0f5b3b-76aa-4c03-a52b-ecb3fc5b3e11.png)

[2022-10-25 01:49] Tiagoquix opened #251 "Feature request: keep MVM end screen title in uppercase"
Default HUD: "BIGROCK : **BOMBANDO FURTIVAMENTE**"
![image](https://user-images.githubusercontent.com/30274161/197663101-ef1a7650-f142-4b2e-b0a6-33dc56439513.png)

FlawHUD: "BIGROCK : **Bombando Furtivamente**" (please ignore the highlighted part in red)
![image](https://user-images.githubusercontent.com/30274161/197663131-49c9c298-d17b-44d9-b061-2dfe87669dcc.png)

[2022-10-26 01:48] CriticalFlaw commented on #250
Instead of removing that label outright it's better to position it where it won't overlap other icons. Added in 87f0b116e3cf0d7a5dedbc613b0064fe0283db9c.

![image](https://user-images.githubusercontent.com/6818236/197915361-a9f19a5e-3c03-4f6b-aad1-6837ecea1fe5.png)

[2022-10-26 01:48] #250 closed, assigned to CriticalFlaw

[2022-10-26 01:58] CriticalFlaw commented on #251
In the default HUD it's all uppercase because the TF2 Build does not do lowercase, same as with the default flawhud setup.

To address this, the below file would have to be added and the labels `HeaderLabel`, `HeaderShadow` would have to be updated to include `"wrap" "1"` to force that text to be in uppercase. Because this is a niche request that's only effecting Code Pro users I don't feel like i

[2022-10-26 01:58] #251 closed, assigned to nobody

[2022-10-30 10:20] Metisz opened #254 "Class Title not centered in Default Loadout Style config"
It's a minor thing, but I doubt it's intentional so I'll put it here

![image](https://user-images.githubusercontent.com/47070328/198873540-c582903a-ea2e-4f43-ad1a-aefd4eca4788.png)

[2022-10-30 10:56] ThatGreenBlur opened #255 "Move Chat to the Bottom should be default"
I think the customization "Move Chat to the Bottom" should be default because the default hud has similar chat position and its a more popular position. the top left chat position should be the optional customization instead

[2022-10-30 12:59] Metisz opened #256 "Notification Text is black"
![image](https://user-images.githubusercontent.com/47070328/198879381-0a6e279c-a709-4e89-ad30-e9c677d4b240.png)

[2022-10-30 15:09] CriticalFlaw commented on #255
Thank you for the suggestion. I've gone back and forth on this over the years but being at the top ended up being the best spot for it because of the Engineer's buildings and tournament spectator, which the chat does not accommodate if it is positioned near the bottom.

I think with the editor it can be up to the individual to set it to whatever they want.

[2022-10-30 15:09] CriticalFlaw commented on #254
It needs to be corrected in the editor schema file.

[2022-10-30 21:48] CriticalFlaw commented on #254
Fixed in https://github.com/CriticalFlaw/TF2HUD.Editor/pull/139

[2022-10-30 21:48] #254 closed, assigned to Metisz

[2022-10-30 22:02] #256 closed, assigned to CriticalFlaw

[2022-10-30 22:02] CriticalFlaw commented on #256
Fixed in 6aa63244fda1bc441f6cba6db76ae05122c8192c. Thank you for reporting!

![image](https://user-images.githubusercontent.com/6818236/198903643-544eea23-9b22-421a-9af2-12c5626c9bc8.png)

[2022-10-31 02:37] Tiagoquix opened #257 "TF2 default background is shown when starting up the game"
It should be the HUD's background.

[2022-10-31 02:59] ThatGreenBlur commented on #255
alright, that makes sense, thanks!

[2022-10-31 03:00] #255 closed, assigned to nobody

[2022-10-31 03:48] CriticalFlaw commented on #257
I think this is due to the recent change where there's no separate _widescreen variant for every background. VMTs for both variants reference to the same file.

I think in one of the Source 1 issue trackers it was said that's it's a loading issue.

The solution would be to add duplicates of each background with _widescreen at the end but that would just bloat the HUD size.

Not sure if there's a b

[2022-10-31 04:23] Tiagoquix commented on #257
Maybe using symlinks on Windows...? But this requires manual work.

[2022-10-31 09:25] Platina6978 opened #258 ""view entire backpack" while doing halloween transmute has messed up layout."
Title. Only had this issue after updating to the newest version. I play on 1920*1080 resolution, if that helps.
![20221031102213_1](https://user-images.githubusercontent.com/71837773/198975336-0108d9bf-5db3-42e8-b646-c0cae8db4a89.jpg)

[2022-10-31 21:02] CriticalFlaw commented on #257
Maybe it can be done using a BAT file that will also update the HUD like it's done for budhud

[2022-10-31 21:52] Tiagoquix commented on #257
Yeah, maybe

[2022-11-01 03:18] ThatGreenBlur opened #259 "Damage numbers is too obstructing"
it makes the game unplayable because when im firing from mid range to multiple people it gets really hard to track or see them, i suggest making it 50% or 25% smaller. (im firing at a heavy and soldier in this picture)
![hitnumbersizetoolarge](https://user-images.githubusercontent.com/115673550/199150979-5b00e3bf-5bc8-4095-be34-57d66b288170.png)

[2022-11-01 09:14] Tiagoquix commented on #259
I personally disagree. They're fine to me.

[2022-11-01 09:16] Tiagoquix opened #260 "New toggle anti-aliasing with mat_aaquality"
I personally disagree. There is no clear indication that the button from the HUD tools menu will do a different thing when compared to the Reload HUD button that is shown when pressing ESC.

I would be OK with the feature if the button was like "Reload HUD (+)" (it indicates the plus sign would mean something "more").

[2022-11-01 09:46] Platina6978 commented on #259
Going to agree with Tiagoquix here, never really had a problem with the size of the damage numbers. Of course it does come down to personal preference too.

[2022-11-01 10:17] ThatGreenBlur commented on #259
i found out the damage numbers seems to be fine on close range but when shooting multiple people on mid range the damage numbers gets really close to the target and makes it harder to see, decreasing the size could help with that but i think the issue is with the location it appears
![damagenumberlocation](https://user-images.githubusercontent.com/115673550/199212017-9f72207c-05f5-4b42-a611-9c1e9b

[2022-11-01 13:46] CriticalFlaw commented on #259
I do not get a sense that there's a strong consensus that the damage number are too large, so a customization option via the editor I think would be the best way to go.

To do it manually, you can navigate to `flawhud/resource/ui/huddamageaccount.res` and change the value of `delta_item_font` and `delta_item_font_big` to **FontBold14Outline**. This is the next smallest font variant that has an out

[2022-11-01 13:49] CriticalFlaw commented on #260
I would probably use the following:
- **Refresh HUD** - soft, `hud_reloadscheme` only.
- **Reload HUD** - hard, `hud_reloadscheme` with `toggle mat_aaquality`.

[2022-11-01 15:13] Tiagoquix commented on #260
I personally prefer no `toggle mat_aaquality` at all, but whatever. If we choose to keep it, then yes, I agree with your idea.

I can provide the localization for PT-BR.

[2022-11-01 15:16] Tiagoquix commented on #260
Considering we're going to use both of them, you would need to run the JarateKing's script to replace all chat_ files, except for brazilian and french. But, like I said, I personally prefer no toggle at all.

[2022-11-01 15:19] ThatGreenBlur commented on #259
tysm for the consideration! yea i think this should be another tf2 hud editor customization, also thanks for telling me a way to do it manually

[2022-11-01 15:46] ThatGreenBlur commented on #259
the damage number blocking my view is also because of the damage number's location with mid range, is that something changeable?

[2022-11-01 22:21] CriticalFlaw commented on #259
Implemented in https://github.com/CriticalFlaw/TF2HUD.Editor/commit/a7d7439b1302548fc6b89f3862f4b01aa76c5d15

You should receive a notification to update the schema next time you open the editor. Cheers.

[2022-11-01 22:21] #259 closed, assigned to CriticalFlaw

[2022-11-01 22:24] CriticalFlaw commented on #260
It's an optional feature you don't have to use if you don't want to. The `hud_reloadscheme` will fix most of user's common issues and it's more readily available than the one with the toggle, which is more handy when HUD editing. Feel free to submit a change

[2022-11-01 22:25] CriticalFlaw commented on #258
Does this happen if you do a clean reinstall with the version directly from GitHub?

https://github.com/CriticalFlaw/flawhud/archive/refs/heads/master.zip

If so then I may have screwed up the package deployed to huds or wherever you downloaded it.

[2022-11-02 02:12] #258 closed, assigned to CriticalFlaw

[2022-11-02 12:57] Tiagoquix commented on #257
I was thinking and personally I am against the fact of requiring more manual actions from the users besides installing the HUD itself. I don't think this is a cool idea: it would be the same principle as installing a game, but requiring the user to download a mod from the developer's official website, rather than including the modification together with the original game.

Considering the fact tha

[2022-11-02 15:14] Tiagoquix commented on #260
Personally, I think I prefer "Reload HUD" (instead of refresh) and "Restart HUD". I think it's more appropriate.

Because for my language, at least, "Atualizar" (refresh) is the same word for "update", so that's not so good.

[2022-11-02 18:01] Platina6978 commented on #258
Seems like you were quicker to fix it than I was to reply. Yes I did get it straight from github here originally. Anyway, thanks!

[2022-11-02 19:10] CriticalFlaw commented on #260
In English context Reload and Refresh are more appropriate. It does not need to match in other languages so word it in a way that makes the most sense in your language.

[2022-11-02 19:11] CriticalFlaw commented on #258
No problem. I had another user on Discord with the same issue and they were able to help me reproduce the issue. Thank you!

[2022-11-03 00:41] #260 closed, assigned to CriticalFlaw

[2022-11-04 04:57] ThatGreenBlur opened #263 "Ubercharge bar blocks top info of target id"
blocks info such as: ammo, disguise, and class icon especially when the ubercharge is full and opaque

![20221104120847_1](https://user-images.githubusercontent.com/115673550/199890963-525bed59-a362-4400-9728-c0a9cf327c5e.jpg)

[2022-11-04 11:53] CriticalFlaw commented on #263
Download the latest version. This has been quietly fixed a few days ago

[2022-11-04 11:58] ThatGreenBlur commented on #263
strange, i just reinstalled flawhud on tf2 hud editor hours ago

[2022-11-04 11:59] ThatGreenBlur commented on #263
latest hud schema version

[2022-11-04 12:00] CriticalFlaw commented on #263
Hmm let me double check and get back to you later today when I'm at my PC.

[2022-11-04 12:00] ThatGreenBlur commented on #263
aight, ill double check too rn with itemtest bots with latest github flawhud

[2022-11-04 12:11] ThatGreenBlur commented on #263
?????? this is strange, i guess ill try it with flawhud from tf2 hud editor then
![image](https://user-images.githubusercontent.com/115673550/199969646-95ceaba9-3db5-489a-8e0c-33361ebb8938.png)

[2022-11-04 12:23] ThatGreenBlur commented on #263
confirmed, issue from installing flawhud from tf2 hud editor
![image](https://user-images.githubusercontent.com/115673550/199971790-d5b218ad-eb2b-44ea-8011-d4165173f498.png)

[2022-11-04 12:34] CriticalFlaw commented on #263
Cool. Will take a look today. Thank you for reporting and testing

[2022-11-05 15:13] CriticalFlaw commented on #263
Fixed in https://github.com/CriticalFlaw/TF2HUD.Editor/commit/30ea9613038fc007208ffd86d9c5415466779612. The change was to make the vertical position of the TargetID in the schema match the live HUD version. Thanks again for reporting.

[2022-11-05 15:13] #263 closed, assigned to CriticalFlaw

[2022-11-05 21:31] Metisz opened #265 "[flawhud] Charge meters are misplaced and still using wrong colors"
![image](https://user-images.githubusercontent.com/47070328/200142038-a19b3a62-c906-4b88-9013-5b8cca54482c.png)
![image](https://user-images.githubusercontent.com/47070328/200142039-717a0eb9-62ae-48cb-899e-1da6f44129c6.png)

They even overlap (visible because the shield's bar is a different color (along with the other bars) and is wider than the loose cannon's)
![image](https://user-images.githubu

[2022-11-05 22:54] Metisz commented on #265
@CriticalFlaw I managed to get Demo's bars to be at the right place (the white is the shield charge)
![image](https://user-images.githubusercontent.com/47070328/200144188-c1cb70d6-c15d-4305-b967-fbc6760bad03.png)
![image](https://user-images.githubusercontent.com/47070328/200144199-a828a4a9-ce42-4ac4-951d-9df64e8f2e9a.png)

Stuff left to do:
- [x] Figure out how to implement it into the `flawhud.j

[2022-11-06 00:30] CriticalFlaw commented on #265
I can add that in if you create a PR for the changes to flawhud. I like how it look in your screenshot.

It's hardcoded by the game. See: https://github.com/ValveSoftware/Source-1-Games/issues/2498

The demoman/bow charge meter will need to be raised to be above the jarate meter (huditemeffectmeter.res) it will leave a gap if the player does not have a second item with a meter but it's something I

[2022-11-06 14:39] CriticalFlaw commented on #265
Fixed in https://github.com/CriticalFlaw/flawhud/pull/266 by @Metisz

[2022-11-06 14:39] #265 closed, assigned to CriticalFlaw, Metisz

[2022-11-06 22:48] Platina6978 opened #267 ""NEW!" label does not match the shape of the page number in the inventory"
Title, see screenshot added below. From what I remember, the "NEW!' label would perfectly match the size and shape of the inventory's page number underneath. Regardless I think that would look prettier!

![20221106234155_1](https://user-images.githubusercontent.com/71837773/200199434-e220a2aa-c8c8-4c4b-944c-d2ed3484b155.jpg)

[2022-11-07 12:38] Tiagoquix opened #268 "Changes to chat_ files and closecaption_brazilian"
Hey! I wanna know if I can make a pull request to submit these changes:

1. Remove `FH_search` from all `chat_` files. The reason is that we have `Store_NameFilterLabel` (from `tf\resource\tf_english.txt`) at our disposal, which is the exact same as `FH_search` ("`Search:`"), plus it is localized by official translators, so there's more parts of the HUD translated instead of having to force Englis

[2022-11-07 13:04] CriticalFlaw commented on #268
Items 1-3 can be bundled as a single PR. I'd keep #4 separate and we can collaborate on the best way to fix it. Thanks.

[2022-11-07 15:20] Tiagoquix commented on #268
I think we can remove all of the empty closecaption strings. They aren't necessary.

Yes, they do give an error in the console, but we can disable the error warnings by using [this](https://github.com/mastercomfig/mastercomfig/blob/develop/config/mastercomfig/cfg/comfig/comfig.cfg#L1320).

[2022-11-09 02:01] CriticalFlaw commented on #268
Closing. All listed changes implemented in https://github.com/CriticalFlaw/flawhud/pull/269 asnd https://github.com/CriticalFlaw/flawhud/pull/270 by @Tiagoquix . Thanks

[2022-11-09 02:01] #268 closed, assigned to Tiagoquix

[2022-11-09 02:13] CriticalFlaw commented on #267
Fixed in f6cec959a87656a9397bc8bded92c22ae3807cb5. Please retest and let me know if the issue persists.

[2022-11-10 15:20] CriticalFlaw commented on #257
I think this is better suited for an updater that can come included with the HUD like budhud. I'm not a fan of adding redundant files in the download for an issue only present for a couple of seconds on game launch only. If this was recurring like it would always display on map loads then that would be more justifiable.

[2022-11-10 15:21] CriticalFlaw opened #271 "Create a batch file for updating the HUD."
Not unlike what was done for budhud: https://github.com/rbjaxter/budhud/blob/master/budhud%20Updater.ps1

Required features:
- [ ] Update the HUD to the latest GitHub version - https://github.com/CriticalFlaw/flawhud/archive/refs/heads/master.zip
- [ ] Create redundant _widescreen variants of background images (As reported in #257)
- [ ] Links and useful information.

[2022-11-10 15:23] CriticalFlaw commented on #257
Moving this request over to https://github.com/CriticalFlaw/flawhud/issues/271

[2022-11-10 15:23] #257 closed, assigned to nobody

[2022-11-10 15:24] CriticalFlaw commented on #267
Closing as fixed.

[2022-11-10 15:24] #267 closed, assigned to CriticalFlaw

[2022-11-10 16:02] Tiagoquix commented on #271
Personally, I'm against the idea of creating an automatic updater separately. I prefer this to be included in the TF2 HUD Editor.

Also, automatic updates do not preserve manual custom changes made by the user.

[2022-11-11 00:51] CriticalFlaw commented on #271
Hmm maybe the editor can run custom scripts.

[2022-11-17 19:42] Tiagoquix opened #272 "Can't see "Start Search" text when hovering over it"
![image](https://user-images.githubusercontent.com/30274161/202543532-a779550e-44f9-4200-93c6-2c4709a94c20.png)
![image](https://user-images.githubusercontent.com/30274161/202543559-f60b3f72-d619-4775-9107-873ca55d3655.png)

[2022-11-17 19:55] Tiagoquix opened #273 "Overheal(ed) color is a little too bright"
![image](https://user-images.githubusercontent.com/30274161/202545838-f29a175b-233c-4741-88b3-0e95148ae9cf.png)

[2022-11-18 15:03] Metisz opened #274 "Change the Mode Selection images"
I think they shouldn't be placed this low (and maybe it's even a bit to the left but I'm unsure about that)
![image](https://user-images.githubusercontent.com/47070328/202735045-f573dbba-efff-4955-ae43-b1fd29d63eba.png)

[2022-11-18 16:36] Metisz commented on #274
To be more precise there is this clear line where they cut off
![image](https://user-images.githubusercontent.com/47070328/202755323-c49c1fec-7185-452a-8c1f-3cd5c759fb53.png)

[2022-11-19 00:35] Tiagoquix commented on #274
I'm not sure, but I think it's intentional.

[2022-11-19 01:35] CriticalFlaw commented on #274
It was intentional because the text was aligned to the top to not clash with the background

[2022-11-19 05:20] Dupiter-AU opened #276 "Demoman shield charge is completely in the wrong position (Centered HUD)"
Compared to other item meters, the shield charge is on the right hand side of the screen for the centered HUD. From what I've found this only occurs with Shields.
![Screenshot_20221119_151725](https://user-images.githubusercontent.com/82429716/202835607-4a151869-ab56-4da0-aaaf-c9cd41481993.png)
I tried fixing this myself but I couldn't find the right file.

[2022-11-19 11:08] Metisz commented on #276
Are you sure you're using the latest version? I did a reinstall on HudEditor and it's fine for me
If you are, try to change the setting to Cornered and then back to Centered

![image](https://user-images.githubusercontent.com/47070328/202847650-39b625c5-fbee-41ae-a335-76928398f970.png)

[2022-11-20 01:15] Dupiter-AU commented on #276
I'm using the [2022.1112 version](https://github.com/CriticalFlaw/flawhud/releases/tag/2022.1112). I don't think I would be able to use the TF2 HudEditor as I am using Linux and the last time I tried to use it it wouldn't open.

[2022-11-20 03:23] CriticalFlaw commented on #276
@Dupiter-AU I've updated the centered layout upload on the [2022.1112 version](https://github.com/CriticalFlaw/flawhud/releases/tag/2022.1112) release page. The previous version was missing @Metisz' fixes.

[2022-11-20 04:45] CriticalFlaw commented on #272
Fixed in https://github.com/CriticalFlaw/flawhud/pull/275 by @Metisz. Thank you.

[2022-11-20 04:45] #272 closed, assigned to CriticalFlaw

[2022-11-20 04:57] CriticalFlaw commented on #274
Also those images are edited to look the way they do and are located in `flawhud/materials/vgui/main_menu/`.

If you remove them you'll see them like this.

![20221119235443_1](https://user-images.githubusercontent.com/6818236/202886333-f51172b2-c7aa-4e73-8bd2-9f3ca12baaac.jpg)

Which imo looks awful. So unless someone wants to go and re-edit those images and see if they look better, there's no ne

[2022-11-20 05:04] CriticalFlaw commented on #273
Added a new color type specifically for the health box. The new color `OverhealBox` is ~25% darker than the base `Overheal`.

![image](https://user-images.githubusercontent.com/6818236/202886504-f97bdc26-38e9-4cac-8f52-0b1674cba6d9.png)

[2022-11-20 05:04] #273 closed, assigned to CriticalFlaw

[2022-11-20 05:21] Tiagoquix commented on #274
They look good to me, but I prefer the current version, which gives a "feel" of darkness.

[2022-11-20 05:23] Tiagoquix commented on #273
Even with "//" at the beginning, is the line read by the game?

[2022-11-20 05:30] CriticalFlaw commented on #273
No

[2022-11-20 07:21] Dupiter-AU commented on #276
Yes this is now fixed. Thanks for the help!

On a side note, the Vaccinator's charge meter is a bit bugged as shown below, so I'll make another issue for that

![Screenshot_20221120_172048](https://user-images.githubusercontent.com/82429716/202890672-0457aba6-74b5-4565-9aa2-2b69d8a53f89.png)

[2022-11-20 07:21] #276 closed, assigned to Metisz

[2022-11-20 07:25] Dupiter-AU opened #277 "Vaccinator Bubble charge off-centered and corners are not correctly rendered"
As shown in the screenshot below, the Vaccinator's bubble charges are not correctly placed inside the border, and the border does not correctly fit the master region.

![Screenshot_20221120_172048](https://user-images.githubusercontent.com/82429716/202890712-4a7538ac-5c9a-4879-aebc-6a080ccfea5a.png)

My temporary solution to this problem was to change the xpos value in `hudmediccharge.res` to -2 a

[2022-11-20 14:22] Metisz opened #278 "[Suggestion] Put Extra options next to the other panels"
**I can likely do it because I did something similar for a friend of mine, but I want to know what you guys think about the idea**

![image](https://user-images.githubusercontent.com/47070328/202907490-c6b72cf1-7484-463a-9143-9e4b27d20f54.png)

[2022-11-20 14:39] CriticalFlaw commented on #278
I had tried it before but it made everything "too heavy" to one side. Some of those buttons also open panels like MOTD and Tools so it makes everything look unbalanced

[2022-11-20 15:08] CriticalFlaw opened #279 "Expand HUD Tools Panel"
### New Additions (not final)
- [x] Voice Chat Volume (slider)
- [x] Viewmodel (slider)
- [x] Minimal Viewmodels (checkbox)

### Changes
- [x] Streamer Mode to a checkbox.
- [x] Match HUD to a checkbox.
- [x] Captions to a checkbox.
- [x] Voice Chat to a checkbox.
- [x] Net Graph to a checkbox.

![image](https://user-images.githubusercontent.com/6818236/202922224-f6a3f8c1-0bc3-46eb-a1db-afabf7687d

[2022-11-20 16:01] Tiagoquix commented on #277
Taking advantage of this issue, I would like to suggest a reduction to the size of the charge bars when using the centered HUD. I think they're too big.

[2022-11-20 16:02] Tiagoquix commented on #278
I disagree with the OP. I prefer the current version.

[2022-11-20 16:03] Tiagoquix commented on #279
What new changes and/or buttons do you intend to implement?

[2022-11-20 16:05] Tiagoquix commented on #274
How about four-sided vignette images instead of the current edited images?

Example: https://www.pngkey.com/png/full/182-1823074_vignette-1-dark-light-effect-png.png

[2022-11-20 17:02] CriticalFlaw commented on #274
Sure. I'm open to changing it if the suggestion looks better.

[2022-11-20 17:04] CriticalFlaw commented on #279
Not sure yet. I've seen a number of other huds add additional options, so I'll see which ones are a good fit

[2022-11-20 17:15] Tiagoquix commented on #274
All right.

To clarify, I mean: keep the mode selection background images as they are, but instead of having a black overlay on the top as it is, switch to a four-sided vignette for each image to see how it looks.

[2022-11-20 19:52] CriticalFlaw commented on #277
Reduced the size of the vaccinator meter when using the centered layout. The bars are also centered. This change has to be applied through the editor. Thanks.
https://github.com/CriticalFlaw/TF2HUD.Editor/commit/100eac6474ff7fbb729be4187285bf674086765d

![20221120144937_1](https://user-images.githubusercontent.com/6818236/202922946-650ab32a-92c2-42bd-b41c-b34e11460811.jpg)

[2022-11-20 19:52] #277 closed, assigned to CriticalFlaw

[2022-11-24 21:16] Metisz commented on #278
What if I made it an option in HudEditor?

[2022-11-24 22:37] Tiagoquix commented on #278
I don't see any problem with that.

[2022-11-24 23:18] CriticalFlaw commented on #278
I think it's too niche of a customization to be added to the editor.

[2022-11-25 07:51] Metisz commented on #278
Then I don't think there's much more to discuss, closing this

[2022-11-25 07:51] #278 closed, assigned to nobody

[2022-11-25 08:27] Metisz commented on #274
I'm thinking of making either minimalist ones with just logos or simplified silhouettes of the current ones
the label is more important after all

[2022-11-25 11:33] Metisz commented on #274
Regarding that, what file is responsible for all the backgrounds to have a darkening filter? Can't find that in `matchmakingplaylist.res`

[2022-11-25 13:41] Metisz commented on #274
In the meantime I took some images for testing and for potential replacement
only thing is that the Community and Casual images are from community made animations (Team Fortress 3 and TF2 vs Overwatch 2) so putting those in without asking would be troubling
![asd](https://user-images.githubusercontent.com/47070328/203997363-c7ac6e91-bf46-4ac1-910b-3dd40f8ff2a4.PNG)

alternatively i could just slap

[2022-11-25 16:25] Tiagoquix commented on #274
Minimalist logos: I don't like the idea, I think it's something so simple to the point of taking the HUD's charm away.

New images (+ those of community SFMs): I love them! I think they could be implemented, but of course, with authorization.

As for adding silhouettes: depending on how it looks, it might look cool.

I believe they are edited from the .vtf file itself to look this way (i.e. the im

[2022-11-26 03:30] CriticalFlaw commented on #274
If you open those image files in VTFEdit (or Paint.NET with a VTF plugin which is what I use) you'll notice that parts of the image are actually transparent. In game there's black background to the image that makes it look like it's fading into darkness.

When I opened those images again for the ticket, I remembered how much of a pain in the ass they were to edit hence why I'd rather someone else

[2022-11-26 09:31] MechancicalMechanism opened #280 "The ammo counter breaks when trying to display the number 40"
![hl2_aCYybdn3ll](https://user-images.githubusercontent.com/44928332/204081897-8f19c1b9-7867-4635-863d-ea9138b260f7.png)

This is most present with the Syringe Gun. The number renders correctly starting with 39, but it always breaks at 40.

My resolution is 1980x1080, I don't use minimal HUD, I have no mods in the attached screenshot, and I'm on the latest version posted to huds.tf.

[2022-11-26 12:18] Metisz commented on #274
I'll keep looking for images to replace the ones that'd need permission

[2022-11-26 13:46] Metisz commented on #274
Using only official artwork
What do you think?
![image](https://user-images.githubusercontent.com/47070328/204090332-f005c24c-2a81-48f2-abaa-0906d78ba972.png)

[2022-11-26 18:59] Tiagoquix commented on #274
Cool!

[2022-11-29 02:09] CriticalFlaw commented on #274
After sleeping on it for a few days, I like them too except for maybe the Community Servers image I'd keep that as-is - it feels more fitting than saxton hale. If you can create a PR for this I'll add it in. Cheers.

[2022-11-29 04:23] #280 closed, assigned to CriticalFlaw

[2022-11-29 04:23] CriticalFlaw commented on #280
Fixed in https://github.com/CriticalFlaw/flawhud/commit/722b3f2192959116ef9b7103f51aeb08fa607167 Thanks.
![20221128232320_1](https://user-images.githubusercontent.com/6818236/204438462-81955114-0a9b-4063-b1d7-7f4829922a37.jpg)

[2022-11-29 04:54] CriticalFlaw commented on #279
Tracking here: https://github.com/CriticalFlaw/flawhud/tree/feature/279

[2022-11-29 11:21] Metisz commented on #274
That'll be easy because that image is just taken from Meet the Spy
Will fiddle with the positioning of it

[2022-11-29 15:08] CriticalFlaw commented on #274
Added in https://github.com/CriticalFlaw/flawhud/pull/281. Thanks @Metisz

[2022-11-29 15:08] #274 closed, assigned to Metisz